In [1]:
import  pandas  as pd

In [2]:
df = pd.read_excel('./Quizes/Quiz 1.xlsx', sheet_name='Sheet1')

In [3]:
df

,ID,Start time,Completion time,Email,Name,Total points,Quiz feedback,C language is a subset of C++ language,Points - C language is a subset of C++ language,Feedback - C language is a subset of C++ language,...,Feedback - Which is the only function all C++ programs must contain?,How to represent an algorithm?,Points - How to represent an algorithm?,Feedback - How to represent an algorithm?,The statement i++; is equivalent to,Points - The statement i++; is equivalent to,Feedback - The statement i++; is equivalent to,"What’s wrong with the following code?\t\t\n\nfor(int k=2, k<=12, k++) {\n cout<< k;\n}","Points - What’s wrong with the following code?\t\t\n\nfor(int k=2, k<=12, k++) {\n cout<< k;\n}","Feedback - What’s wrong with the following code?\t\t\n\nfor(int k=2, k<=12, k++) {\n cout<< k;\n}"
0,1,2021-06-08 10:25:08,2021-06-08 10:33:23,19-39458-1@student.aiub.edu,19-39458-1@student.aiub.edu,16,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+i;,0,NaN,The commas should be semicolon,2,NaN
1,2,2021-06-08 10:25:19,2021-06-08 10:33:36,19-40223-1@student.aiub.edu,19-40223-1@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
2,3,2021-06-08 10:25:16,2021-06-08 10:33:57,19-40359-1@student.aiub.edu,19-40359-1@student.aiub.edu,18,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
3,4,2021-06-08 10:25:11,2021-06-08 10:34:04,19-39342-1@student.aiub.edu,19-39342-1@student.aiub.edu,18,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
4,5,2021-06-08 10:26:12,2021-06-08 10:34:40,19-40055-1@student.aiub.edu,19-40055-1@student.aiub.edu,10,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,There should be a semicolon at the end of the ...,0,NaN
5,6,2021-06-08 10:25:12,2021-06-08 10:35:04,19-40836-2@student.aiub.edu,19-40836-2@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
6,7,2021-06-08 10:25:07,2021-06-08 10:35:06,19-41516-3@student.aiub.edu,19-41516-3@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
7,8,2021-06-08 10:25:01,2021-06-08 10:35:07,19-39674-1@student.aiub.edu,19-39674-1@student.aiub.edu,18,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The increment should always be k = k + 1,0,NaN
8,9,2021-06-08 10:25:05,2021-06-08 10:35:07,19-41450-3@student.aiub.edu,19-41450-3@student.aiub.edu,14,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The increment should always be ++k,0,NaN
9,10,2021-06-08 10:25:02,2021-06-08 10:35:09,19-41258-3@student.aiub.edu,19-41258-3@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
10,11,2021-06-08 10:25:04,2021-06-08 10:35:11,17-35672-3@student.aiub.edu,17-35672-3@student.aiub.edu,12,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The increment should always be k = k + 1,0,NaN
11,12,2021-06-08 10:26:41,2021-06-08 10:35:12,19-40255-1@student.aiub.edu,19-40255-1@student.aiub.edu,12,NaN,False,0,NaN,...,NaN,compiler,0,NaN,i=i+i;,0,NaN,The commas should be semicolon,2,NaN
12,13,2021-06-08 10:25:07,2021-06-08 10:35:16,18-37827-2@student.aiub.edu,18-37827-2@student.aiub.edu,14,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
13,14,2021-06-08 10:25:07,2021-06-08 10:35:16,19-41059-2@student.aiub.edu,19-41059-2@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
14,15,2021-06-08 10:25:08,2021-06-08 10:35:17,19-40186-1@student.aiub.edu,19-40186-1@student.aiub.edu,10,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,There should be a semicolon at the end of the ...,0,NaN
15,16,2021-06-08 10:25:04,2021-06-08 10:35:19,17-35536-3@student.aiub.edu,17-35536-3@student.aiub.edu,14,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+i;,0,NaN,The commas should be semicolon,2,NaN
16,17,2021-06-08 10:25:14,2021-06-08 10:35:19,19-40948-2@student.aiub.edu,19-40948-2@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
17,18,2021-06-08 10:25:06,2021-06-08 10:35:20,19-40877-2@student.aiub.edu,19-40877-2@student.aiub.edu,10,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
18,19,2021-06-08 10:25:12,2021-06-08 10:35:22,19-40751-1@student.aiub.edu,19-40751-1@student.aiub.edu,10,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The increment should always be k = k + 1,0,NaN
19,20,2021-06-08 10:25:05,2021-06-08 10:35:29,19-40296-1@student.aiub.edu,19-40296-1@student.aiub.edu,14,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
20,21,2021-06-08 10:25:14,2021-06-08 10:35:33,19-41348-3@student.aiub.edu,19-41348-3@student.aiub.edu,16,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
21,22,2021-06-08 10:27:59,2021-06-08 10:35:34,19-40194-1@student.aiub.edu,19-40194-1@student.aiub.edu,14,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
22,23,2021-06-08 10:25:06,2021-06-08 10:35:35,19-40677-1@student.aiub.edu,19-40677-1@student.aiub.edu,14,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+i;,0,NaN,The commas should be semicolon,2,NaN
23,24,2021-06-08 10:25:56,2021-06-08 10:35:35,17-35677-3@student.aiub.edu,17-35677-3@student.aiub.edu,16,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
24,25,2021-06-08 10:25:09,2021-06-08 10:35:39,18-37144-1@student.aiub.edu,18-37144-1@student.aiub.edu,12,NaN,False,0,NaN,...,NaN,compiler,0,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
25,26,2021-06-08 10:25:44,2021-06-08 10:35:42,18-37912-2@student.aiub.edu,18-37912-2@student.aiub.edu,14,NaN,False,0,NaN,...,NaN,compiler,0,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
26,27,2021-06-08 10:25:11,2021-06-08 10:35:42,19-40544-1@student.aiub.edu,19-40544-1@student.aiub.edu,18,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
27,28,2021-06-08 10:25:54,2021-06-08 10:35:44,19-41275-3@student.aiub.edu,19-41275-3@student.aiub.edu,8,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+i;,0,NaN,The increment should always be ++k,0,NaN
28,29,2021-06-08 10:25:07,2021-06-08 10:35:44,19-41479-3@student.aiub.edu,19-41479-3@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
29,30,2021-06-08 10:25:06,2021-06-08 10:35:59,18-39243-3@student.aiub.edu,18-39243-3@student.aiub.edu,14,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
30,31,2021-06-08 10:29:26,2021-06-08 10:35:59,19-40683-1@student.aiub.edu,19-40683-1@student.aiub.edu,14,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
31,32,2021-06-08 10:25:12,2021-06-08 10:36:53,19-40703-1@student.aiub.edu,19-40703-1@student.aiub.edu,16,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
32,33,2021-06-08 10:25:09,2021-06-08 10:36:54,18-37051-1@student.aiub.edu,18-37051-1@student.aiub.edu,12,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+i;,0,NaN,The commas should be semicolon,2,NaN
33,34,2021-06-08 10:28:19,2021-06-08 10:36:58,17-34746-2@student.aiub.edu,17-34746-2@student.aiub.edu,12,NaN,False,0,NaN,...,NaN,depends on the programming language,0,NaN,i=i+i;,0,NaN,The increment should always be k = k + 1,0,NaN
34,35,2021-06-08 10:25:14,2021-06-08 10:36:58,19-39573-1@student.aiub.edu,19-39573-1@student.aiub.edu,12,NaN,False,0,NaN,...,NaN,compiler,0,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
35,36,2021-06-08 10:25:17,2021-06-08 10:37:01,19-41284-3@student.aiub.edu,19-41284-3@student.aiub.edu,18,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
36,37,2021-06-08 10:32:31,2021-06-08 10:37:01,19-40804-2@student.aiub.edu,19-40804-2@student.aiub.edu,18,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+i;,0,NaN,The commas should be semicolon,2,NaN
37,38,2021-06-08 10:25:11,2021-06-08 10:37:02,18-38923-3@student.aiub.edu,18-38923-3@student.aiub.edu,14,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN
38,39,2021-06-08 10:32:05,2021-06-08 10:39:26,18-39130-3@student.aiub.edu,18-39130-3@student.aiub.edu,12,NaN,True,2,NaN,...,NaN,pseudocode,2,NaN,i=i+i;,0,NaN,There should be a semicolon at the end of the ...,0,NaN
39,40,2021-06-08 10:27:55,2021-06-08 10:39:28,19-41341-3@student.aiub.edu,19-41341-3@student.aiub.edu,14,NaN,False,0,NaN,...,NaN,pseudocode,2,NaN,i=i+1;,2,NaN,The commas should be semicolon,2,NaN

In [10]:
column = df[df.columns[4:6]]

In [11]:
column

                           Name  Total points
0   19-39458-1@student.aiub.edu            16
1   19-40223-1@student.aiub.edu            20
2   19-40359-1@student.aiub.edu            18
3   19-39342-1@student.aiub.edu            18
4   19-40055-1@student.aiub.edu            10
5   19-40836-2@student.aiub.edu            20
6   19-41516-3@student.aiub.edu            20
7   19-39674-1@student.aiub.edu            18
8   19-41450-3@student.aiub.edu            14
9   19-41258-3@student.aiub.edu            20
10  17-35672-3@student.aiub.edu            12
11  19-40255-1@student.aiub.edu            12
12  18-37827-2@student.aiub.edu            14
13  19-41059-2@student.aiub.edu            20
14  19-40186-1@student.aiub.edu            10
15  17-35536-3@student.aiub.edu            14
16  19-40948-2@student.aiub.edu            20
17  19-40877-2@student.aiub.edu            10
18  19-40751-1@student.aiub.edu            10
19  19-40296-1@student.aiub.edu            14
20  19-41348-3@student.aiub.edu            16
21  19-40194-1@student.aiub.edu            14
22  19-40677-1@student.aiub.edu            14
23  17-35677-3@student.aiub.edu            16
24  18-37144-1@student.aiub.edu            12
25  18-37912-2@student.aiub.edu            14
26  19-40544-1@student.aiub.edu            18
27  19-41275-3@student.aiub.edu             8
28  19-41479-3@student.aiub.edu            20
29  18-39243-3@student.aiub.edu            14
30  19-40683-1@student.aiub.edu            14
31  19-40703-1@student.aiub.edu            16
32  18-37051-1@student.aiub.edu            12
33  17-34746-2@student.aiub.edu            12
34  19-39573-1@student.aiub.edu            12
35  19-41284-3@student.aiub.edu            18
36  19-40804-2@student.aiub.edu            18
37  18-38923-3@student.aiub.edu            14
38  18-39130-3@student.aiub.edu            12
39  19-41341-3@student.aiub.edu            14

In [26]:
result = column['Name'] 
column[['ID','Extra']] = result.str.split("@", n=1, expand=True) 
column

C:\Users\Asus\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                           Name  Total points          ID             Extra
0   19-39458-1@student.aiub.edu            16  19-39458-1  student.aiub.edu
1   19-40223-1@student.aiub.edu            20  19-40223-1  student.aiub.edu
2   19-40359-1@student.aiub.edu            18  19-40359-1  student.aiub.edu
3   19-39342-1@student.aiub.edu            18  19-39342-1  student.aiub.edu
4   19-40055-1@student.aiub.edu            10  19-40055-1  student.aiub.edu
5   19-40836-2@student.aiub.edu            20  19-40836-2  student.aiub.edu
6   19-41516-3@student.aiub.edu            20  19-41516-3  student.aiub.edu
7   19-39674-1@student.aiub.edu            18  19-39674-1  student.aiub.edu
8   19-41450-3@student.aiub.edu            14  19-41450-3  student.aiub.edu
9   19-41258-3@student.aiub.edu            20  19-41258-3  student.aiub.edu
10  17-35672-3@student.aiub.edu            12  17-35672-3  student.aiub.edu
11  19-40255-1@student.aiub.edu            12  19-40255-1  student.aiub.edu
12  18-37827-2@student.aiub.edu            14  18-37827-2  student.aiub.edu
13  19-41059-2@student.aiub.edu            20  19-41059-2  student.aiub.edu
14  19-40186-1@student.aiub.edu            10  19-40186-1  student.aiub.edu
15  17-35536-3@student.aiub.edu            14  17-35536-3  student.aiub.edu
16  19-40948-2@student.aiub.edu            20  19-40948-2  student.aiub.edu
17  19-40877-2@student.aiub.edu            10  19-40877-2  student.aiub.edu
18  19-40751-1@student.aiub.edu            10  19-40751-1  student.aiub.edu
19  19-40296-1@student.aiub.edu            14  19-40296-1  student.aiub.edu
20  19-41348-3@student.aiub.edu            16  19-41348-3  student.aiub.edu
21  19-40194-1@student.aiub.edu            14  19-40194-1  student.aiub.edu
22  19-40677-1@student.aiub.edu            14  19-40677-1  student.aiub.edu
23  17-35677-3@student.aiub.edu            16  17-35677-3  student.aiub.edu
24  18-37144-1@student.aiub.edu            12  18-37144-1  student.aiub.edu
25  18-37912-2@student.aiub.edu            14  18-37912-2  student.aiub.edu
26  19-40544-1@student.aiub.edu            18  19-40544-1  student.aiub.edu
27  19-41275-3@student.aiub.edu             8  19-41275-3  student.aiub.edu
28  19-41479-3@student.aiub.edu            20  19-41479-3  student.aiub.edu
29  18-39243-3@student.aiub.edu            14  18-39243-3  student.aiub.edu
30  19-40683-1@student.aiub.edu            14  19-40683-1  student.aiub.edu
31  19-40703-1@student.aiub.edu            16  19-40703-1  student.aiub.edu
32  18-37051-1@student.aiub.edu            12  18-37051-1  student.aiub.edu
33  17-34746-2@student.aiub.edu            12  17-34746-2  student.aiub.edu
34  19-39573-1@student.aiub.edu            12  19-39573-1  student.aiub.edu
35  19-41284-3@student.aiub.edu            18  19-41284-3  student.aiub.edu
36  19-40804-2@student.aiub.edu            18  19-40804-2  student.aiub.edu
37  18-38923-3@student.aiub.edu            14  18-38923-3  student.aiub.edu
38  18-39130-3@student.aiub.edu            12  18-39130-3  student.aiub.edu
39  19-41341-3@student.aiub.edu            14  19-41341-3  student.aiub.edu

In [27]:
newcolumn = column[column.columns[1:3]]

In [28]:
newcolumn

    Total points          ID
0             16  19-39458-1
1             20  19-40223-1
2             18  19-40359-1
3             18  19-39342-1
4             10  19-40055-1
5             20  19-40836-2
6             20  19-41516-3
7             18  19-39674-1
8             14  19-41450-3
9             20  19-41258-3
10            12  17-35672-3
11            12  19-40255-1
12            14  18-37827-2
13            20  19-41059-2
14            10  19-40186-1
15            14  17-35536-3
16            20  19-40948-2
17            10  19-40877-2
18            10  19-40751-1
19            14  19-40296-1
20            16  19-41348-3
21            14  19-40194-1
22            14  19-40677-1
23            16  17-35677-3
24            12  18-37144-1
25            14  18-37912-2
26            18  19-40544-1
27             8  19-41275-3
28            20  19-41479-3
29            14  18-39243-3
30            14  19-40683-1
31            16  19-40703-1
32            12  18-37051-1
33            12  17-34746-2
34            12  19-39573-1
35            18  19-41284-3
36            18  19-40804-2
37            14  18-38923-3
38            12  18-39130-3
39            14  19-41341-3

In [29]:
df1 = pd.read_csv ('./TotalGrade/TotalGrade.csv')
df1

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,SL,Student ID,Full Name,Ass.,labday1,labmakeup,labday5,theoryday1,theoryday2
0,0,0,0,1,17-34409-1,KHALID MASRUR,17,1.0,0.0,1.0,1.0,0.0
1,1,1,1,2,17-34746-2,SANJADUL ALOM PIYAS,15,0.0,1.0,1.0,0.0,1.0
2,2,2,2,3,17-35536-3,SUMNOON-E-TAHA,20,1.0,1.0,1.0,1.0,1.0
3,3,3,3,4,17-35672-3,MEHEDI HASAN NILOY,19,1.0,1.0,1.0,1.0,1.0
4,4,4,4,5,17-35677-3,MUHAMMAD AL AMIN,19,1.0,1.0,1.0,1.0,1.0
5,5,5,5,6,18-37027-1,KHAN MD. EHSAN,17,0.0,0.0,1.0,1.0,0.0
6,6,6,6,7,18-37051-1,HIZBULLAH ATIK SIDDIQUE,19,1.0,1.0,1.0,1.0,1.0
7,7,7,7,8,18-37144-1,JAFRIN MONSUR KHAN,17,1.0,1.0,1.0,1.0,1.0
8,8,8,8,9,18-37827-2,MD. FARHAN TANVIR,19,1.0,1.0,1.0,1.0,1.0
9,9,9,9,10,18-37912-2,SAZZAD HASAN,18,1.0,1.0,1.0,1.0,1.0
10,10,10,10,11,18-38923-3,MEHRAB HOSSAIN SHARAN,18,1.0,1.0,1.0,1.0,1.0
11,11,11,11,12,18-39130-3,MD. RATUL AMAN,20,1.0,1.0,1.0,1.0,1.0
12,12,12,12,13,18-39243-3,MD. IMRAN HOSSAIN,20,1.0,0.0,1.0,1.0,1.0
13,13,13,13,14,19-39342-1,MD. ASIKUR RAHMAN SAUMIK,20,1.0,0.0,1.0,1.0,1.0
14,14,14,14,15,19-39434-1,MD. SAMIN ANJUM,19,1.0,0.0,1.0,1.0,1.0
15,15,15,15,16,19-39458-1,NURA YEASDANI,20,1.0,1.0,1.0,1.0,1.0
16,16,16,16,17,19-39573-1,LAMIA MANNAN,20,1.0,0.0,1.0,1.0,1.0
17,17,17,17,18,19-39674-1,TAHMID SHAHRIAR ARNOB,16,1.0,0.0,0.0,1.0,1.0
18,18,18,18,19,19-40055-1,ISHRAK AHMED ASIF,19,1.0,1.0,1.0,1.0,1.0
19,19,19,19,20,19-40186-1,MOHAMMAD ALI,19,1.0,1.0,1.0,1.0,1.0
20,20,20,20,21,19-40194-1,HASIBUL HASSAIN,20,1.0,1.0,1.0,1.0,1.0
21,21,21,21,22,19-40223-1,ASIF IQBAL BIN HARUN,20,1.0,1.0,1.0,1.0,1.0
22,22,22,22,23,19-40255-1,SAIF HAQUE,18,1.0,1.0,1.0,1.0,1.0
23,23,23,23,24,19-40296-1,MD. AL-EMRAN PARAG,18,1.0,1.0,1.0,1.0,1.0
24,24,24,24,25,19-40359-1,MOHAMMAED HASIB PRANTO,20,1.0,1.0,1.0,1.0,1.0
25,25,25,25,26,19-40544-1,READOAN KHAN RATUL,19,1.0,1.0,1.0,1.0,1.0
26,26,26,26,27,19-40677-1,MD MEHRAB SADIK,12,1.0,0.0,1.0,0.0,1.0
27,27,27,27,28,19-40683-1,TAMIM SULTANA ONKITA,18,1.0,1.0,1.0,1.0,1.0
28,28,28,28,29,19-40703-1,REHENUMA TABASSUM MEGHLA,17,1.0,1.0,1.0,1.0,1.0
29,29,29,29,30,19-40751-1,MD. MAHMUDUL HASAN,18,1.0,1.0,1.0,1.0,1.0
30,30,30,30,31,19-40804-2,SAFIQUL ISLAM SOIKAT,19,1.0,0.0,1.0,1.0,1.0
31,31,31,31,32,19-40836-2,MD. ARMAN UDDIN,19,1.0,1.0,1.0,1.0,1.0
32,32,32,32,33,19-40877-2,ABDUL MAJID,20,1.0,1.0,1.0,1.0,1.0
33,33,33,33,34,19-40948-2,S. M. A. WASEI,20,1.0,1.0,1.0,1.0,1.0
34,34,34,34,35,19-41059-2,BHUIYAN SAAD BIN MOBARAK,20,1.0,1.0,1.0,1.0,1.0
35,35,35,35,36,19-41258-3,RAIHAN UDDIN,20,1.0,0.0,1.0,1.0,1.0
36,36,36,36,37,19-41275-3,FARDIN HASAN KHAN,20,1.0,1.0,1.0,1.0,1.0
37,37,37,37,38,19-41284-3,MD. IBNA JAHID HASSAN,19,1.0,1.0,1.0,1.0,1.0
38,38,38,38,39,19-41341-3,MOHIM BHOWMICK,18,1.0,1.0,1.0,1.0,1.0
39,39,39,39,40,19-41348-3,MD. MAHFUZUR RAHMAN,20,1.0,1.0,1.0,1.0,1.0
40,40,40,40,41,19-41450-3,ABDULLAH AL MAMUN SHUVO,19,1.0,1.0,1.0,1.0,1.0
41,41,41,41,42,19-41479-3,BIJON SAHA,20,1.0,0.0,1.0,1.0,1.0
42,42,42,42,43,19-41516-3,KASIRA - TUT- TARFI,20,1.0,1.0,1.0,1.0,1.0

In [30]:
for  x in df1.index:
    df1.loc [x, "quiz1"] = 0
    for  y in newcolumn.index:
       if df1.loc [x, "Student ID"]==newcolumn.loc [y, "ID"] :
          df1.loc [x, "quiz1"]=newcolumn.loc [y, "Total points"]

In [31]:
df1

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,SL,Student ID,Full Name,Ass.,labday1,labmakeup,labday5,theoryday1,theoryday2,quiz1
0,0,0,0,1,17-34409-1,KHALID MASRUR,17,1.0,0.0,1.0,1.0,0.0,0.0
1,1,1,1,2,17-34746-2,SANJADUL ALOM PIYAS,15,0.0,1.0,1.0,0.0,1.0,12.0
2,2,2,2,3,17-35536-3,SUMNOON-E-TAHA,20,1.0,1.0,1.0,1.0,1.0,14.0
3,3,3,3,4,17-35672-3,MEHEDI HASAN NILOY,19,1.0,1.0,1.0,1.0,1.0,12.0
4,4,4,4,5,17-35677-3,MUHAMMAD AL AMIN,19,1.0,1.0,1.0,1.0,1.0,16.0
5,5,5,5,6,18-37027-1,KHAN MD. EHSAN,17,0.0,0.0,1.0,1.0,0.0,0.0
6,6,6,6,7,18-37051-1,HIZBULLAH ATIK SIDDIQUE,19,1.0,1.0,1.0,1.0,1.0,12.0
7,7,7,7,8,18-37144-1,JAFRIN MONSUR KHAN,17,1.0,1.0,1.0,1.0,1.0,12.0
8,8,8,8,9,18-37827-2,MD. FARHAN TANVIR,19,1.0,1.0,1.0,1.0,1.0,14.0
9,9,9,9,10,18-37912-2,SAZZAD HASAN,18,1.0,1.0,1.0,1.0,1.0,14.0
10,10,10,10,11,18-38923-3,MEHRAB HOSSAIN SHARAN,18,1.0,1.0,1.0,1.0,1.0,14.0
11,11,11,11,12,18-39130-3,MD. RATUL AMAN,20,1.0,1.0,1.0,1.0,1.0,12.0
12,12,12,12,13,18-39243-3,MD. IMRAN HOSSAIN,20,1.0,0.0,1.0,1.0,1.0,14.0
13,13,13,13,14,19-39342-1,MD. ASIKUR RAHMAN SAUMIK,20,1.0,0.0,1.0,1.0,1.0,18.0
14,14,14,14,15,19-39434-1,MD. SAMIN ANJUM,19,1.0,0.0,1.0,1.0,1.0,0.0
15,15,15,15,16,19-39458-1,NURA YEASDANI,20,1.0,1.0,1.0,1.0,1.0,16.0
16,16,16,16,17,19-39573-1,LAMIA MANNAN,20,1.0,0.0,1.0,1.0,1.0,12.0
17,17,17,17,18,19-39674-1,TAHMID SHAHRIAR ARNOB,16,1.0,0.0,0.0,1.0,1.0,18.0
18,18,18,18,19,19-40055-1,ISHRAK AHMED ASIF,19,1.0,1.0,1.0,1.0,1.0,10.0
19,19,19,19,20,19-40186-1,MOHAMMAD ALI,19,1.0,1.0,1.0,1.0,1.0,10.0
20,20,20,20,21,19-40194-1,HASIBUL HASSAIN,20,1.0,1.0,1.0,1.0,1.0,14.0
21,21,21,21,22,19-40223-1,ASIF IQBAL BIN HARUN,20,1.0,1.0,1.0,1.0,1.0,20.0
22,22,22,22,23,19-40255-1,SAIF HAQUE,18,1.0,1.0,1.0,1.0,1.0,12.0
23,23,23,23,24,19-40296-1,MD. AL-EMRAN PARAG,18,1.0,1.0,1.0,1.0,1.0,14.0
24,24,24,24,25,19-40359-1,MOHAMMAED HASIB PRANTO,20,1.0,1.0,1.0,1.0,1.0,18.0
25,25,25,25,26,19-40544-1,READOAN KHAN RATUL,19,1.0,1.0,1.0,1.0,1.0,18.0
26,26,26,26,27,19-40677-1,MD MEHRAB SADIK,12,1.0,0.0,1.0,0.0,1.0,14.0
27,27,27,27,28,19-40683-1,TAMIM SULTANA ONKITA,18,1.0,1.0,1.0,1.0,1.0,14.0
28,28,28,28,29,19-40703-1,REHENUMA TABASSUM MEGHLA,17,1.0,1.0,1.0,1.0,1.0,16.0
29,29,29,29,30,19-40751-1,MD. MAHMUDUL HASAN,18,1.0,1.0,1.0,1.0,1.0,10.0
30,30,30,30,31,19-40804-2,SAFIQUL ISLAM SOIKAT,19,1.0,0.0,1.0,1.0,1.0,18.0
31,31,31,31,32,19-40836-2,MD. ARMAN UDDIN,19,1.0,1.0,1.0,1.0,1.0,20.0
32,32,32,32,33,19-40877-2,ABDUL MAJID,20,1.0,1.0,1.0,1.0,1.0,10.0
33,33,33,33,34,19-40948-2,S. M. A. WASEI,20,1.0,1.0,1.0,1.0,1.0,20.0
34,34,34,34,35,19-41059-2,BHUIYAN SAAD BIN MOBARAK,20,1.0,1.0,1.0,1.0,1.0,20.0
35,35,35,35,36,19-41258-3,RAIHAN UDDIN,20,1.0,0.0,1.0,1.0,1.0,20.0
36,36,36,36,37,19-41275-3,FARDIN HASAN KHAN,20,1.0,1.0,1.0,1.0,1.0,8.0
37,37,37,37,38,19-41284-3,MD. IBNA JAHID HASSAN,19,1.0,1.0,1.0,1.0,1.0,18.0
38,38,38,38,39,19-41341-3,MOHIM BHOWMICK,18,1.0,1.0,1.0,1.0,1.0,14.0
39,39,39,39,40,19-41348-3,MD. MAHFUZUR RAHMAN,20,1.0,1.0,1.0,1.0,1.0,16.0
40,40,40,40,41,19-41450-3,ABDULLAH AL MAMUN SHUVO,19,1.0,1.0,1.0,1.0,1.0,14.0
41,41,41,41,42,19-41479-3,BIJON SAHA,20,1.0,0.0,1.0,1.0,1.0,20.0
42,42,42,42,43,19-41516-3,KASIRA - TUT- TARFI,20,1.0,1.0,1.0,1.0,1.0,20.0

In [32]:
quiz2 = pd.read_excel('./Quizes/Quiz 2.xlsx', sheet_name='Sheet1')
quiz2

,ID,Start time,Completion time,Email,Name,Total points,Quiz feedback,"While parameter is passed by using pass-by-value, the location of the variable in memory is passed to the function so that it can use the same memory area for its processing.","Points - While parameter is passed by using pass-by-value, the location of the variable in memory is passed to the function so that it can use the same memory area for its processing.","Feedback - While parameter is passed by using pass-by-value, the location of the variable in memory is passed to the function so that it can use the same memory area for its processing.",...,Feedback - Which statement is correct?,Which statement is wrong?,Points - Which statement is wrong?,Feedback - Which statement is wrong?,A global variable can not be accessed from,Points - A global variable can not be accessed from,Feedback - A global variable can not be accessed from,Which statement is incorrect?,Points - Which statement is incorrect?,Feedback - Which statement is incorrect?
0,1,2021-06-22 10:30:04,2021-06-22 10:41:31,17-35677-3@student.aiub.edu,17-35677-3@student.aiub.edu,14,NaN,False,2,NaN,...,NaN,all functions must have at least one return st...,2,NaN,none of the mentioned,2,NaN,parameter order need to match while calling th...,0,NaN
1,2,2021-06-22 10:30:04,2021-06-22 10:41:33,19-41479-3@student.aiub.edu,19-41479-3@student.aiub.edu,10,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,parameter type need to match while calling the...,0,NaN
2,3,2021-06-22 10:30:18,2021-06-22 10:41:41,19-40296-1@student.aiub.edu,19-40296-1@student.aiub.edu,12,NaN,False,2,NaN,...,NaN,all functions must have at least one return st...,2,NaN,none of the mentioned,2,NaN,parameter can receive reference of the argumen...,0,NaN
3,4,2021-06-22 10:30:27,2021-06-22 10:41:44,19-40186-1@student.aiub.edu,19-40186-1@student.aiub.edu,16,NaN,False,2,NaN,...,NaN,return statement do not necessarily need to be...,0,NaN,none of the mentioned,2,NaN,parameter can receive reference of the argumen...,0,NaN
4,5,2021-06-22 10:30:05,2021-06-22 10:42:13,19-41450-3@student.aiub.edu,19-41450-3@student.aiub.edu,12,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,user-defined functions,0,NaN,none of the mentioned,2,NaN
5,6,2021-06-22 10:33:42,2021-06-22 10:42:14,19-39434-1@student.aiub.edu,19-39434-1@student.aiub.edu,16,NaN,True,0,NaN,...,NaN,all functions must have at least one return st...,2,NaN,none of the mentioned,2,NaN,none of the mentioned,2,NaN
6,7,2021-06-22 10:30:13,2021-06-22 10:42:16,19-39573-1@student.aiub.edu,19-39573-1@student.aiub.edu,10,NaN,Depends on the situation,0,NaN,...,NaN,return statement do not necessarily need to be...,0,NaN,if...else block or loop,0,NaN,none of the mentioned,2,NaN
7,8,2021-06-22 10:38:40,2021-06-22 10:42:19,19-40677-1@student.aiub.edu,19-40677-1@student.aiub.edu,8,NaN,Depends on the situation,0,NaN,...,NaN,function can have void return type,0,NaN,main function,0,NaN,none of the mentioned,2,NaN
8,9,2021-06-22 10:30:07,2021-06-22 10:42:26,17-34409-1@student.aiub.edu,17-34409-1@student.aiub.edu,8,NaN,Depends on the situation,0,NaN,...,NaN,none of the mentioned,0,NaN,main function,0,NaN,parameter can receive reference of the argumen...,0,NaN
9,10,2021-06-22 10:30:32,2021-06-22 10:42:27,19-40255-1@student.aiub.edu,19-40255-1@student.aiub.edu,16,NaN,False,2,NaN,...,NaN,function can have void return type,0,NaN,none of the mentioned,2,NaN,parameter order need to match while calling th...,0,NaN
10,11,2021-06-22 10:32:42,2021-06-22 10:42:27,19-40359-1@student.aiub.edu,19-40359-1@student.aiub.edu,14,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,parameter can receive reference of the argumen...,0,NaN
11,12,2021-06-22 10:30:21,2021-06-22 10:42:30,19-40223-1@student.aiub.edu,19-40223-1@student.aiub.edu,14,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,parameter can receive reference of the argumen...,0,NaN
12,13,2021-06-22 10:31:14,2021-06-22 10:42:31,19-40948-2@student.aiub.edu,19-40948-2@student.aiub.edu,10,NaN,Depends on the situation,0,NaN,...,NaN,all functions must have at least one return st...,2,NaN,user-defined functions,0,NaN,none of the mentioned,2,NaN
13,14,2021-06-22 10:30:10,2021-06-22 10:42:32,19-39342-1@student.aiub.edu,19-39342-1@student.aiub.edu,16,NaN,False,2,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,none of the mentioned,2,NaN
14,15,2021-06-22 10:30:02,2021-06-22 10:42:33,19-40877-2@student.aiub.edu,19-40877-2@student.aiub.edu,8,NaN,True,0,NaN,...,NaN,all functions must have at least one return st...,2,NaN,main function,0,NaN,parameter type need to match while calling the...,0,NaN
15,16,2021-06-22 10:30:18,2021-06-22 10:42:35,19-40055-1@student.aiub.edu,19-40055-1@student.aiub.edu,16,NaN,False,2,NaN,...,NaN,return statement do not necessarily need to be...,0,NaN,none of the mentioned,2,NaN,parameter can receive reference of the argumen...,0,NaN
16,17,2021-06-22 10:30:42,2021-06-22 10:42:36,19-40751-1@student.aiub.edu,19-40751-1@student.aiub.edu,14,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,none of the mentioned,2,NaN
17,18,2021-06-22 10:30:00,2021-06-22 10:42:38,19-41059-2@student.aiub.edu,19-41059-2@student.aiub.edu,8,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,main function,0,NaN,none of the mentioned,2,NaN
18,19,2021-06-22 10:30:49,2021-06-22 10:42:43,19-40683-1@student.aiub.edu,19-40683-1@student.aiub.edu,6,NaN,True,0,NaN,...,NaN,return statement do not necessarily need to be...,0,NaN,if...else block or loop,0,NaN,none of the mentioned,2,NaN
19,20,2021-06-22 10:30:10,2021-06-22 10:42:45,18-37144-1@student.aiub.edu,18-37144-1@student.aiub.edu,12,NaN,Depends on the situation,0,NaN,...,NaN,return statement do not necessarily need to be...,0,NaN,none of the mentioned,2,NaN,none of the mentioned,2,NaN
20,21,2021-06-22 10:30:17,2021-06-22 10:42:47,19-41348-3@student.aiub.edu,19-41348-3@student.aiub.edu,14,NaN,True,0,NaN,...,NaN,all functions must have at least one return st...,2,NaN,none of the mentioned,2,NaN,parameter type need to match while calling the...,0,NaN
21,22,2021-06-22 10:30:37,2021-06-22 10:42:49,19-40836-2@student.aiub.edu,19-40836-2@student.aiub.edu,14,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,parameter can receive reference of the argumen...,0,NaN
22,23,2021-06-22 10:30:11,2021-06-22 10:42:50,19-41516-3@student.aiub.edu,19-41516-3@student.aiub.edu,14,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,parameter can receive reference of the argumen...,0,NaN
23,24,2021-06-22 10:30:25,2021-06-22 10:42:51,18-38923-3@student.aiub.edu,18-38923-3@student.aiub.edu,14,NaN,False,2,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,none of the mentioned,2,NaN
24,25,2021-06-22 10:30:42,2021-06-22 10:42:57,19-41275-3@student.aiub.edu,19-41275-3@student.aiub.edu,12,NaN,NaN,0,NaN,...,NaN,function can have void return type,0,NaN,none of the mentioned,2,NaN,parameter can receive reference of the argumen...,0,NaN
25,26,2021-06-22 10:30:12,2021-06-22 10:42:58,19-39458-1@student.aiub.edu,19-39458-1@student.aiub.edu,18,NaN,False,2,NaN,...,NaN,all functions must have at least one return st...,2,NaN,none of the mentioned,2,NaN,none of the mentioned,2,NaN
26,27,2021-06-22 10:31:24,2021-06-22 10:44:13,18-37912-2@student.aiub.edu,18-37912-2@student.aiub.edu,12,NaN,False,2,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,parameter can receive reference of the argumen...,0,NaN
27,28,2021-06-22 10:30:07,2021-06-22 10:44:14,19-41258-3@student.aiub.edu,19-41258-3@student.aiub.edu,12,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,parameter type need to match while calling the...,0,NaN
28,29,2021-06-22 10:30:04,2021-06-22 10:44:13,18-39243-3@student.aiub.edu,18-39243-3@student.aiub.edu,8,NaN,Depends on the situation,0,NaN,...,NaN,function can have void return type,0,NaN,user-defined functions,0,NaN,none of the mentioned,2,NaN
29,30,2021-06-22 10:30:11,2021-06-22 10:44:14,19-40804-2@student.aiub.edu,19-40804-2@student.aiub.edu,8,NaN,True,0,NaN,...,NaN,function can have void return type,0,NaN,user-defined functions,0,NaN,parameter type need to match while calling the...,0,NaN
30,31,2021-06-22 10:37:25,2021-06-22 10:44:15,18-37827-2@student.aiub.edu,18-37827-2@student.aiub.edu,14,NaN,True,0,NaN,...,NaN,all functions must have at least one return st...,2,NaN,none of the mentioned,2,NaN,none of the mentioned,2,NaN
31,32,2021-06-22 10:30:09,2021-06-22 10:44:17,17-34746-2@student.aiub.edu,17-34746-2@student.aiub.edu,6,NaN,True,0,NaN,...,NaN,all functions must have at least one return st...,2,NaN,user-defined functions,0,NaN,parameter type need to match while calling the...,0,NaN
32,33,2021-06-22 10:30:03,2021-06-22 10:44:21,17-35672-3@student.aiub.edu,17-35672-3@student.aiub.edu,12,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,parameter order need to match while calling th...,0,NaN
33,34,2021-06-22 10:30:44,2021-06-22 10:44:22,19-40703-1@student.aiub.edu,19-40703-1@student.aiub.edu,6,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,none of the mentioned,2,NaN
34,35,2021-06-22 10:31:44,2021-06-22 10:44:26,18-37051-1@student.aiub.edu,18-37051-1@student.aiub.edu,10,NaN,Depends on the situation,0,NaN,...,NaN,function can have void return type,0,NaN,none of the mentioned,2,NaN,parameter order need to match while calling th...,0,NaN
35,36,2021-06-22 10:30:21,2021-06-22 10:44:28,19-41284-3@student.aiub.edu,19-41284-3@student.aiub.edu,14,NaN,True,0,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,none of the mentioned,2,NaN
36,37,2021-06-22 10:30:02,2021-06-22 10:44:29,17-35536-3@student.aiub.edu,17-35536-3@student.aiub.edu,12,NaN,False,2,NaN,...,NaN,none of the mentioned,0,NaN,none of the mentioned,2,NaN,parameter order need to match while calling th...,0,NaN
37,38,2021-06-22 10:30:00,2021-06-22 10:44:46,19-41341-3@student.aiub.edu,19-41341-3@student.aiub.edu,10,NaN,True,0,NaN,...,NaN,return statement do not necessarily need to be...,0,NaN,user-defined functions,0,NaN,none of the mentioned,2,NaN
38,39,2021-06-22 10:46:30,2021-06-22 10:48:22,18-39130-3@student.aiub.edu,18-39130-3@student.aiub.edu,10,NaN,False,2,NaN,...,NaN,all functions must have at least one return st...,2,NaN,user-defined functions,0,NaN,parameter can receive reference of the argumen...,0,NaN

In [40]:
quiz2column = quiz2[quiz2.columns[4:6]]
quiz2column

                           Name  Total points
0   17-35677-3@student.aiub.edu            14
1   19-41479-3@student.aiub.edu            10
2   19-40296-1@student.aiub.edu            12
3   19-40186-1@student.aiub.edu            16
4   19-41450-3@student.aiub.edu            12
5   19-39434-1@student.aiub.edu            16
6   19-39573-1@student.aiub.edu            10
7   19-40677-1@student.aiub.edu             8
8   17-34409-1@student.aiub.edu             8
9   19-40255-1@student.aiub.edu            16
10  19-40359-1@student.aiub.edu            14
11  19-40223-1@student.aiub.edu            14
12  19-40948-2@student.aiub.edu            10
13  19-39342-1@student.aiub.edu            16
14  19-40877-2@student.aiub.edu             8
15  19-40055-1@student.aiub.edu            16
16  19-40751-1@student.aiub.edu            14
17  19-41059-2@student.aiub.edu             8
18  19-40683-1@student.aiub.edu             6
19  18-37144-1@student.aiub.edu            12
20  19-41348-3@student.aiub.edu            14
21  19-40836-2@student.aiub.edu            14
22  19-41516-3@student.aiub.edu            14
23  18-38923-3@student.aiub.edu            14
24  19-41275-3@student.aiub.edu            12
25  19-39458-1@student.aiub.edu            18
26  18-37912-2@student.aiub.edu            12
27  19-41258-3@student.aiub.edu            12
28  18-39243-3@student.aiub.edu             8
29  19-40804-2@student.aiub.edu             8
30  18-37827-2@student.aiub.edu            14
31  17-34746-2@student.aiub.edu             6
32  17-35672-3@student.aiub.edu            12
33  19-40703-1@student.aiub.edu             6
34  18-37051-1@student.aiub.edu            10
35  19-41284-3@student.aiub.edu            14
36  17-35536-3@student.aiub.edu            12
37  19-41341-3@student.aiub.edu            10
38  18-39130-3@student.aiub.edu            10

In [41]:
quiz2result = quiz2column['Name'] 
quiz2column[['ID','Extra']] = quiz2result.str.split("@", n=1, expand=True) 
quiz2column

C:\Users\Asus\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                           Name  Total points          ID             Extra
0   17-35677-3@student.aiub.edu            14  17-35677-3  student.aiub.edu
1   19-41479-3@student.aiub.edu            10  19-41479-3  student.aiub.edu
2   19-40296-1@student.aiub.edu            12  19-40296-1  student.aiub.edu
3   19-40186-1@student.aiub.edu            16  19-40186-1  student.aiub.edu
4   19-41450-3@student.aiub.edu            12  19-41450-3  student.aiub.edu
5   19-39434-1@student.aiub.edu            16  19-39434-1  student.aiub.edu
6   19-39573-1@student.aiub.edu            10  19-39573-1  student.aiub.edu
7   19-40677-1@student.aiub.edu             8  19-40677-1  student.aiub.edu
8   17-34409-1@student.aiub.edu             8  17-34409-1  student.aiub.edu
9   19-40255-1@student.aiub.edu            16  19-40255-1  student.aiub.edu
10  19-40359-1@student.aiub.edu            14  19-40359-1  student.aiub.edu
11  19-40223-1@student.aiub.edu            14  19-40223-1  student.aiub.edu
12  19-40948-2@student.aiub.edu            10  19-40948-2  student.aiub.edu
13  19-39342-1@student.aiub.edu            16  19-39342-1  student.aiub.edu
14  19-40877-2@student.aiub.edu             8  19-40877-2  student.aiub.edu
15  19-40055-1@student.aiub.edu            16  19-40055-1  student.aiub.edu
16  19-40751-1@student.aiub.edu            14  19-40751-1  student.aiub.edu
17  19-41059-2@student.aiub.edu             8  19-41059-2  student.aiub.edu
18  19-40683-1@student.aiub.edu             6  19-40683-1  student.aiub.edu
19  18-37144-1@student.aiub.edu            12  18-37144-1  student.aiub.edu
20  19-41348-3@student.aiub.edu            14  19-41348-3  student.aiub.edu
21  19-40836-2@student.aiub.edu            14  19-40836-2  student.aiub.edu
22  19-41516-3@student.aiub.edu            14  19-41516-3  student.aiub.edu
23  18-38923-3@student.aiub.edu            14  18-38923-3  student.aiub.edu
24  19-41275-3@student.aiub.edu            12  19-41275-3  student.aiub.edu
25  19-39458-1@student.aiub.edu            18  19-39458-1  student.aiub.edu
26  18-37912-2@student.aiub.edu            12  18-37912-2  student.aiub.edu
27  19-41258-3@student.aiub.edu            12  19-41258-3  student.aiub.edu
28  18-39243-3@student.aiub.edu             8  18-39243-3  student.aiub.edu
29  19-40804-2@student.aiub.edu             8  19-40804-2  student.aiub.edu
30  18-37827-2@student.aiub.edu            14  18-37827-2  student.aiub.edu
31  17-34746-2@student.aiub.edu             6  17-34746-2  student.aiub.edu
32  17-35672-3@student.aiub.edu            12  17-35672-3  student.aiub.edu
33  19-40703-1@student.aiub.edu             6  19-40703-1  student.aiub.edu
34  18-37051-1@student.aiub.edu            10  18-37051-1  student.aiub.edu
35  19-41284-3@student.aiub.edu            14  19-41284-3  student.aiub.edu
36  17-35536-3@student.aiub.edu            12  17-35536-3  student.aiub.edu
37  19-41341-3@student.aiub.edu            10  19-41341-3  student.aiub.edu
38  18-39130-3@student.aiub.edu            10  18-39130-3  student.aiub.edu

In [42]:
newquiz2column = quiz2column[column.columns[1:3]]
newquiz2column

    Total points          ID
0             14  17-35677-3
1             10  19-41479-3
2             12  19-40296-1
3             16  19-40186-1
4             12  19-41450-3
5             16  19-39434-1
6             10  19-39573-1
7              8  19-40677-1
8              8  17-34409-1
9             16  19-40255-1
10            14  19-40359-1
11            14  19-40223-1
12            10  19-40948-2
13            16  19-39342-1
14             8  19-40877-2
15            16  19-40055-1
16            14  19-40751-1
17             8  19-41059-2
18             6  19-40683-1
19            12  18-37144-1
20            14  19-41348-3
21            14  19-40836-2
22            14  19-41516-3
23            14  18-38923-3
24            12  19-41275-3
25            18  19-39458-1
26            12  18-37912-2
27            12  19-41258-3
28             8  18-39243-3
29             8  19-40804-2
30            14  18-37827-2
31             6  17-34746-2
32            12  17-35672-3
33             6  19-40703-1
34            10  18-37051-1
35            14  19-41284-3
36            12  17-35536-3
37            10  19-41341-3
38            10  18-39130-3

In [43]:
for  x in df1.index:
    df1.loc [x, "quiz2"] = 0
    for  y in newquiz2column.index:
       if df1.loc [x, "Student ID"]==newquiz2column.loc [y, "ID"] :
          df1.loc [x, "quiz2"]=newquiz2column.loc [y, "Total points"]

In [44]:
df1

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,SL,Student ID,Full Name,Ass.,labday1,labmakeup,labday5,theoryday1,theoryday2,quiz1,quiz2
0,0,0,0,1,17-34409-1,KHALID MASRUR,17,1.0,0.0,1.0,1.0,0.0,0.0,8.0
1,1,1,1,2,17-34746-2,SANJADUL ALOM PIYAS,15,0.0,1.0,1.0,0.0,1.0,12.0,6.0
2,2,2,2,3,17-35536-3,SUMNOON-E-TAHA,20,1.0,1.0,1.0,1.0,1.0,14.0,12.0
3,3,3,3,4,17-35672-3,MEHEDI HASAN NILOY,19,1.0,1.0,1.0,1.0,1.0,12.0,12.0
4,4,4,4,5,17-35677-3,MUHAMMAD AL AMIN,19,1.0,1.0,1.0,1.0,1.0,16.0,14.0
5,5,5,5,6,18-37027-1,KHAN MD. EHSAN,17,0.0,0.0,1.0,1.0,0.0,0.0,0.0
6,6,6,6,7,18-37051-1,HIZBULLAH ATIK SIDDIQUE,19,1.0,1.0,1.0,1.0,1.0,12.0,10.0
7,7,7,7,8,18-37144-1,JAFRIN MONSUR KHAN,17,1.0,1.0,1.0,1.0,1.0,12.0,12.0
8,8,8,8,9,18-37827-2,MD. FARHAN TANVIR,19,1.0,1.0,1.0,1.0,1.0,14.0,14.0
9,9,9,9,10,18-37912-2,SAZZAD HASAN,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0
10,10,10,10,11,18-38923-3,MEHRAB HOSSAIN SHARAN,18,1.0,1.0,1.0,1.0,1.0,14.0,14.0
11,11,11,11,12,18-39130-3,MD. RATUL AMAN,20,1.0,1.0,1.0,1.0,1.0,12.0,10.0
12,12,12,12,13,18-39243-3,MD. IMRAN HOSSAIN,20,1.0,0.0,1.0,1.0,1.0,14.0,8.0
13,13,13,13,14,19-39342-1,MD. ASIKUR RAHMAN SAUMIK,20,1.0,0.0,1.0,1.0,1.0,18.0,16.0
14,14,14,14,15,19-39434-1,MD. SAMIN ANJUM,19,1.0,0.0,1.0,1.0,1.0,0.0,16.0
15,15,15,15,16,19-39458-1,NURA YEASDANI,20,1.0,1.0,1.0,1.0,1.0,16.0,18.0
16,16,16,16,17,19-39573-1,LAMIA MANNAN,20,1.0,0.0,1.0,1.0,1.0,12.0,10.0
17,17,17,17,18,19-39674-1,TAHMID SHAHRIAR ARNOB,16,1.0,0.0,0.0,1.0,1.0,18.0,0.0
18,18,18,18,19,19-40055-1,ISHRAK AHMED ASIF,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0
19,19,19,19,20,19-40186-1,MOHAMMAD ALI,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0
20,20,20,20,21,19-40194-1,HASIBUL HASSAIN,20,1.0,1.0,1.0,1.0,1.0,14.0,0.0
21,21,21,21,22,19-40223-1,ASIF IQBAL BIN HARUN,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0
22,22,22,22,23,19-40255-1,SAIF HAQUE,18,1.0,1.0,1.0,1.0,1.0,12.0,16.0
23,23,23,23,24,19-40296-1,MD. AL-EMRAN PARAG,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0
24,24,24,24,25,19-40359-1,MOHAMMAED HASIB PRANTO,20,1.0,1.0,1.0,1.0,1.0,18.0,14.0
25,25,25,25,26,19-40544-1,READOAN KHAN RATUL,19,1.0,1.0,1.0,1.0,1.0,18.0,0.0
26,26,26,26,27,19-40677-1,MD MEHRAB SADIK,12,1.0,0.0,1.0,0.0,1.0,14.0,8.0
27,27,27,27,28,19-40683-1,TAMIM SULTANA ONKITA,18,1.0,1.0,1.0,1.0,1.0,14.0,6.0
28,28,28,28,29,19-40703-1,REHENUMA TABASSUM MEGHLA,17,1.0,1.0,1.0,1.0,1.0,16.0,6.0
29,29,29,29,30,19-40751-1,MD. MAHMUDUL HASAN,18,1.0,1.0,1.0,1.0,1.0,10.0,14.0
30,30,30,30,31,19-40804-2,SAFIQUL ISLAM SOIKAT,19,1.0,0.0,1.0,1.0,1.0,18.0,8.0
31,31,31,31,32,19-40836-2,MD. ARMAN UDDIN,19,1.0,1.0,1.0,1.0,1.0,20.0,14.0
32,32,32,32,33,19-40877-2,ABDUL MAJID,20,1.0,1.0,1.0,1.0,1.0,10.0,8.0
33,33,33,33,34,19-40948-2,S. M. A. WASEI,20,1.0,1.0,1.0,1.0,1.0,20.0,10.0
34,34,34,34,35,19-41059-2,BHUIYAN SAAD BIN MOBARAK,20,1.0,1.0,1.0,1.0,1.0,20.0,8.0
35,35,35,35,36,19-41258-3,RAIHAN UDDIN,20,1.0,0.0,1.0,1.0,1.0,20.0,12.0
36,36,36,36,37,19-41275-3,FARDIN HASAN KHAN,20,1.0,1.0,1.0,1.0,1.0,8.0,12.0
37,37,37,37,38,19-41284-3,MD. IBNA JAHID HASSAN,19,1.0,1.0,1.0,1.0,1.0,18.0,14.0
38,38,38,38,39,19-41341-3,MOHIM BHOWMICK,18,1.0,1.0,1.0,1.0,1.0,14.0,10.0
39,39,39,39,40,19-41348-3,MD. MAHFUZUR RAHMAN,20,1.0,1.0,1.0,1.0,1.0,16.0,14.0
40,40,40,40,41,19-41450-3,ABDULLAH AL MAMUN SHUVO,19,1.0,1.0,1.0,1.0,1.0,14.0,12.0
41,41,41,41,42,19-41479-3,BIJON SAHA,20,1.0,0.0,1.0,1.0,1.0,20.0,10.0
42,42,42,42,43,19-41516-3,KASIRA - TUT- TARFI,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0

In [45]:
quiz3 = pd.read_excel('./Quizes/Quiz 3.xlsx', sheet_name='Sheet1')
quiz3

,ID,Start time,Completion time,Email,Name,Total points,Quiz feedback,An array only can contain the same type of elements.,Points - An array only can contain the same type of elements.,Feedback - An array only can contain the same type of elements.,...,Feedback - Select the correct statement.,"Select the right output for the following code snippet.\n\n int arr[] = {11, 22, 33, 44, 55};\n int *p1 = arr;\n p1++;\n int *p2 = arr + 2;\n\n cout<< *p1 << "" ""<< *p2;","Points - Select the right output for the following code snippet.\n\n int arr[] = {11, 22, 33, 44, 55};\n int *p1 = arr;\n p1++;\n int *p2 = arr + 2;\n\n cout<< *p1 << "" ""<< *p2;","Feedback - Select the right output for the following code snippet.\n\n int arr[] = {11, 22, 33, 44, 55};\n int *p1 = arr;\n p1++;\n int *p2 = arr + 2;\n\n cout<< *p1 << "" ""<< *p2;","What will happen after executing the following code?\n\n int x = 111, y = 222;\n int *p = &x, *q = &y;\n p = q;","Points - What will happen after executing the following code?\n\n int x = 111, y = 222;\n int *p = &x, *q = &y;\n p = q;","Feedback - What will happen after executing the following code?\n\n int x = 111, y = 222;\n int *p = &x, *q = &y;\n p = q;",A string can be defined by the which option?,Points - A string can be defined by the which option?,Feedback - A string can be defined by the which option?
0,1,2021-06-29 10:10:04,2021-06-29 10:18:14,19-40186-1@student.aiub.edu,19-40186-1@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
1,2,2021-06-29 10:12:16,2021-06-29 10:18:20,19-40223-1@student.aiub.edu,19-40223-1@student.aiub.edu,17,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,a one dimensional array of characters terminat...,0,NaN
2,3,2021-06-29 10:10:25,2021-06-29 10:18:48,19-39458-1@student.aiub.edu,19-39458-1@student.aiub.edu,14,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,a one dimensional array of characters terminat...,0,NaN
3,4,2021-06-29 10:14:44,2021-06-29 10:18:48,19-40359-1@student.aiub.edu,19-40359-1@student.aiub.edu,17,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,a one dimensional array of characters terminat...,0,NaN
4,5,2021-06-29 10:10:18,2021-06-29 10:18:52,19-40255-1@student.aiub.edu,19-40255-1@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,a one dimensional array of characters terminat...,0,NaN
5,6,2021-06-29 10:10:10,2021-06-29 10:20:09,19-39342-1@student.aiub.edu,19-39342-1@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
6,7,2021-06-29 10:10:16,2021-06-29 10:20:11,19-40055-1@student.aiub.edu,19-40055-1@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
7,8,2021-06-29 10:10:13,2021-06-29 10:20:52,19-40703-1@student.aiub.edu,19-40703-1@student.aiub.edu,18,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
8,9,2021-06-29 10:10:18,2021-06-29 10:21:01,19-40194-1@student.aiub.edu,19-40194-1@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
9,10,2021-06-29 10:10:01,2021-06-29 10:21:02,19-39674-1@student.aiub.edu,19-39674-1@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
10,11,2021-06-29 10:10:04,2021-06-29 10:21:09,19-41479-3@student.aiub.edu,19-41479-3@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
11,12,2021-06-29 10:10:53,2021-06-29 10:21:10,18-37827-2@student.aiub.edu,18-37827-2@student.aiub.edu,11,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,a one dimensional array of characters terminat...,0,NaN
12,13,2021-06-29 10:10:22,2021-06-29 10:21:13,19-39573-1@student.aiub.edu,19-39573-1@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
13,14,2021-06-29 10:10:06,2021-06-29 10:21:14,18-37144-1@student.aiub.edu,18-37144-1@student.aiub.edu,13,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
14,15,2021-06-29 10:10:11,2021-06-29 10:21:15,19-40751-1@student.aiub.edu,19-40751-1@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
15,16,2021-06-29 10:11:34,2021-06-29 10:21:19,19-41284-3@student.aiub.edu,19-41284-3@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
16,17,2021-06-29 10:11:23,2021-06-29 10:21:21,19-40683-1@student.aiub.edu,19-40683-1@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
17,18,2021-06-29 10:10:12,2021-06-29 10:21:23,19-40296-1@student.aiub.edu,19-40296-1@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
18,19,2021-06-29 10:10:14,2021-06-29 10:21:23,18-37027-1@student.aiub.edu,18-37027-1@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
19,20,2021-06-29 10:12:33,2021-06-29 10:21:27,18-37912-2@student.aiub.edu,18-37912-2@student.aiub.edu,9,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,a one dimensional array of characters terminat...,0,NaN
20,21,2021-06-29 10:10:12,2021-06-29 10:21:32,19-40836-2@student.aiub.edu,19-40836-2@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
21,22,2021-06-29 10:10:03,2021-06-29 10:21:32,17-35536-3@student.aiub.edu,17-35536-3@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
22,23,2021-06-29 10:10:28,2021-06-29 10:21:33,18-37051-1@student.aiub.edu,18-37051-1@student.aiub.edu,12,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
23,24,2021-06-29 10:10:02,2021-06-29 10:21:34,19-40877-2@student.aiub.edu,19-40877-2@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
24,25,2021-06-29 10:10:17,2021-06-29 10:21:39,19-41516-3@student.aiub.edu,19-41516-3@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
25,26,2021-06-29 10:10:02,2021-06-29 10:21:40,19-41258-3@student.aiub.edu,19-41258-3@student.aiub.edu,20,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
26,27,2021-06-29 10:10:05,2021-06-29 10:21:43,17-34409-1@student.aiub.edu,17-34409-1@student.aiub.edu,17,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
27,28,2021-06-29 10:10:01,2021-06-29 10:21:48,19-41059-2@student.aiub.edu,19-41059-2@student.aiub.edu,14,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
28,29,2021-06-29 10:10:02,2021-06-29 10:21:49,19-40948-2@student.aiub.edu,19-40948-2@student.aiub.edu,11,NaN,True,2,NaN,...,NaN,22 44,0,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
29,30,2021-06-29 10:10:12,2021-06-29 10:21:59,19-40677-1@student.aiub.edu,19-40677-1@student.aiub.edu,18,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
30,31,2021-06-29 10:10:05,2021-06-29 10:21:59,19-41450-3@student.aiub.edu,19-41450-3@student.aiub.edu,8,NaN,False,0,NaN,...,NaN,11 33,0,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
31,32,2021-06-29 10:10:10,2021-06-29 10:22:00,17-35677-3@student.aiub.edu,17-35677-3@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
32,33,2021-06-29 10:21:28,2021-06-29 10:22:00,17-34746-2@student.aiub.edu,17-34746-2@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
33,34,2021-06-29 10:10:44,2021-06-29 10:22:12,19-41275-3@student.aiub.edu,19-41275-3@student.aiub.edu,17,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,a character array ends with a null character,0,NaN
34,35,2021-06-29 10:10:05,2021-06-29 10:22:13,19-40804-2@student.aiub.edu,19-40804-2@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
35,36,2021-06-29 10:17:03,2021-06-29 10:22:19,18-39130-3@student.aiub.edu,18-39130-3@student.aiub.edu,14,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
36,37,2021-06-29 10:10:00,2021-06-29 10:22:21,19-41348-3@student.aiub.edu,19-41348-3@student.aiub.edu,17,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to y,3,NaN,All of the mentioned,3,NaN
37,38,2021-06-29 10:13:41,2021-06-29 10:22:23,19-40544-1@student.aiub.edu,19-40544-1@student.aiub.edu,12,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
38,39,2021-06-29 10:10:04,2021-06-29 10:22:28,18-39243-3@student.aiub.edu,18-39243-3@student.aiub.edu,17,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
39,40,2021-06-29 10:10:25,2021-06-29 10:22:29,18-38923-3@student.aiub.edu,18-38923-3@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
40,41,2021-06-29 10:10:04,2021-06-29 10:22:32,17-35672-3@student.aiub.edu,17-35672-3@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN
41,42,2021-06-29 10:10:09,2021-06-29 10:25:20,19-41341-3@student.aiub.edu,19-41341-3@student.aiub.edu,15,NaN,True,2,NaN,...,NaN,22 33,3,NaN,p now points to x,0,NaN,All of the mentioned,3,NaN

In [46]:
quiz3column = quiz3[quiz3.columns[4:6]]
quiz3column

                           Name  Total points
0   19-40186-1@student.aiub.edu            15
1   19-40223-1@student.aiub.edu            17
2   19-39458-1@student.aiub.edu            14
3   19-40359-1@student.aiub.edu            17
4   19-40255-1@student.aiub.edu            15
5   19-39342-1@student.aiub.edu            20
6   19-40055-1@student.aiub.edu            15
7   19-40703-1@student.aiub.edu            18
8   19-40194-1@student.aiub.edu            15
9   19-39674-1@student.aiub.edu            15
10  19-41479-3@student.aiub.edu            20
11  18-37827-2@student.aiub.edu            11
12  19-39573-1@student.aiub.edu            15
13  18-37144-1@student.aiub.edu            13
14  19-40751-1@student.aiub.edu            15
15  19-41284-3@student.aiub.edu            15
16  19-40683-1@student.aiub.edu            15
17  19-40296-1@student.aiub.edu            15
18  18-37027-1@student.aiub.edu            15
19  18-37912-2@student.aiub.edu             9
20  19-40836-2@student.aiub.edu            20
21  17-35536-3@student.aiub.edu            15
22  18-37051-1@student.aiub.edu            12
23  19-40877-2@student.aiub.edu            15
24  19-41516-3@student.aiub.edu            20
25  19-41258-3@student.aiub.edu            20
26  17-34409-1@student.aiub.edu            17
27  19-41059-2@student.aiub.edu            14
28  19-40948-2@student.aiub.edu            11
29  19-40677-1@student.aiub.edu            18
30  19-41450-3@student.aiub.edu             8
31  17-35677-3@student.aiub.edu            15
32  17-34746-2@student.aiub.edu            15
33  19-41275-3@student.aiub.edu            17
34  19-40804-2@student.aiub.edu            15
35  18-39130-3@student.aiub.edu            14
36  19-41348-3@student.aiub.edu            17
37  19-40544-1@student.aiub.edu            12
38  18-39243-3@student.aiub.edu            17
39  18-38923-3@student.aiub.edu            15
40  17-35672-3@student.aiub.edu            15
41  19-41341-3@student.aiub.edu            15

In [47]:
quiz3result = quiz3column['Name'] 
quiz3column[['ID','Extra']] = quiz3result.str.split("@", n=1, expand=True) 
quiz3column

C:\Users\Asus\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                           Name  Total points          ID             Extra
0   19-40186-1@student.aiub.edu            15  19-40186-1  student.aiub.edu
1   19-40223-1@student.aiub.edu            17  19-40223-1  student.aiub.edu
2   19-39458-1@student.aiub.edu            14  19-39458-1  student.aiub.edu
3   19-40359-1@student.aiub.edu            17  19-40359-1  student.aiub.edu
4   19-40255-1@student.aiub.edu            15  19-40255-1  student.aiub.edu
5   19-39342-1@student.aiub.edu            20  19-39342-1  student.aiub.edu
6   19-40055-1@student.aiub.edu            15  19-40055-1  student.aiub.edu
7   19-40703-1@student.aiub.edu            18  19-40703-1  student.aiub.edu
8   19-40194-1@student.aiub.edu            15  19-40194-1  student.aiub.edu
9   19-39674-1@student.aiub.edu            15  19-39674-1  student.aiub.edu
10  19-41479-3@student.aiub.edu            20  19-41479-3  student.aiub.edu
11  18-37827-2@student.aiub.edu            11  18-37827-2  student.aiub.edu
12  19-39573-1@student.aiub.edu            15  19-39573-1  student.aiub.edu
13  18-37144-1@student.aiub.edu            13  18-37144-1  student.aiub.edu
14  19-40751-1@student.aiub.edu            15  19-40751-1  student.aiub.edu
15  19-41284-3@student.aiub.edu            15  19-41284-3  student.aiub.edu
16  19-40683-1@student.aiub.edu            15  19-40683-1  student.aiub.edu
17  19-40296-1@student.aiub.edu            15  19-40296-1  student.aiub.edu
18  18-37027-1@student.aiub.edu            15  18-37027-1  student.aiub.edu
19  18-37912-2@student.aiub.edu             9  18-37912-2  student.aiub.edu
20  19-40836-2@student.aiub.edu            20  19-40836-2  student.aiub.edu
21  17-35536-3@student.aiub.edu            15  17-35536-3  student.aiub.edu
22  18-37051-1@student.aiub.edu            12  18-37051-1  student.aiub.edu
23  19-40877-2@student.aiub.edu            15  19-40877-2  student.aiub.edu
24  19-41516-3@student.aiub.edu            20  19-41516-3  student.aiub.edu
25  19-41258-3@student.aiub.edu            20  19-41258-3  student.aiub.edu
26  17-34409-1@student.aiub.edu            17  17-34409-1  student.aiub.edu
27  19-41059-2@student.aiub.edu            14  19-41059-2  student.aiub.edu
28  19-40948-2@student.aiub.edu            11  19-40948-2  student.aiub.edu
29  19-40677-1@student.aiub.edu            18  19-40677-1  student.aiub.edu
30  19-41450-3@student.aiub.edu             8  19-41450-3  student.aiub.edu
31  17-35677-3@student.aiub.edu            15  17-35677-3  student.aiub.edu
32  17-34746-2@student.aiub.edu            15  17-34746-2  student.aiub.edu
33  19-41275-3@student.aiub.edu            17  19-41275-3  student.aiub.edu
34  19-40804-2@student.aiub.edu            15  19-40804-2  student.aiub.edu
35  18-39130-3@student.aiub.edu            14  18-39130-3  student.aiub.edu
36  19-41348-3@student.aiub.edu            17  19-41348-3  student.aiub.edu
37  19-40544-1@student.aiub.edu            12  19-40544-1  student.aiub.edu
38  18-39243-3@student.aiub.edu            17  18-39243-3  student.aiub.edu
39  18-38923-3@student.aiub.edu            15  18-38923-3  student.aiub.edu
40  17-35672-3@student.aiub.edu            15  17-35672-3  student.aiub.edu
41  19-41341-3@student.aiub.edu            15  19-41341-3  student.aiub.edu

In [48]:
newquiz3column = quiz3column[column.columns[1:3]]
newquiz3column

    Total points          ID
0             15  19-40186-1
1             17  19-40223-1
2             14  19-39458-1
3             17  19-40359-1
4             15  19-40255-1
5             20  19-39342-1
6             15  19-40055-1
7             18  19-40703-1
8             15  19-40194-1
9             15  19-39674-1
10            20  19-41479-3
11            11  18-37827-2
12            15  19-39573-1
13            13  18-37144-1
14            15  19-40751-1
15            15  19-41284-3
16            15  19-40683-1
17            15  19-40296-1
18            15  18-37027-1
19             9  18-37912-2
20            20  19-40836-2
21            15  17-35536-3
22            12  18-37051-1
23            15  19-40877-2
24            20  19-41516-3
25            20  19-41258-3
26            17  17-34409-1
27            14  19-41059-2
28            11  19-40948-2
29            18  19-40677-1
30             8  19-41450-3
31            15  17-35677-3
32            15  17-34746-2
33            17  19-41275-3
34            15  19-40804-2
35            14  18-39130-3
36            17  19-41348-3
37            12  19-40544-1
38            17  18-39243-3
39            15  18-38923-3
40            15  17-35672-3
41            15  19-41341-3

In [49]:
for  x in df1.index:
    df1.loc [x, "quiz3"] = 0
    for  y in newquiz3column.index:
       if df1.loc [x, "Student ID"]==newquiz3column.loc [y, "ID"] :
          df1.loc [x, "quiz3"]=newquiz3column.loc [y, "Total points"]

In [50]:
df1

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,SL,Student ID,Full Name,Ass.,labday1,labmakeup,labday5,theoryday1,theoryday2,quiz1,quiz2,quiz3
0,0,0,0,1,17-34409-1,KHALID MASRUR,17,1.0,0.0,1.0,1.0,0.0,0.0,8.0,17.0
1,1,1,1,2,17-34746-2,SANJADUL ALOM PIYAS,15,0.0,1.0,1.0,0.0,1.0,12.0,6.0,15.0
2,2,2,2,3,17-35536-3,SUMNOON-E-TAHA,20,1.0,1.0,1.0,1.0,1.0,14.0,12.0,15.0
3,3,3,3,4,17-35672-3,MEHEDI HASAN NILOY,19,1.0,1.0,1.0,1.0,1.0,12.0,12.0,15.0
4,4,4,4,5,17-35677-3,MUHAMMAD AL AMIN,19,1.0,1.0,1.0,1.0,1.0,16.0,14.0,15.0
5,5,5,5,6,18-37027-1,KHAN MD. EHSAN,17,0.0,0.0,1.0,1.0,0.0,0.0,0.0,15.0
6,6,6,6,7,18-37051-1,HIZBULLAH ATIK SIDDIQUE,19,1.0,1.0,1.0,1.0,1.0,12.0,10.0,12.0
7,7,7,7,8,18-37144-1,JAFRIN MONSUR KHAN,17,1.0,1.0,1.0,1.0,1.0,12.0,12.0,13.0
8,8,8,8,9,18-37827-2,MD. FARHAN TANVIR,19,1.0,1.0,1.0,1.0,1.0,14.0,14.0,11.0
9,9,9,9,10,18-37912-2,SAZZAD HASAN,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0,9.0
10,10,10,10,11,18-38923-3,MEHRAB HOSSAIN SHARAN,18,1.0,1.0,1.0,1.0,1.0,14.0,14.0,15.0
11,11,11,11,12,18-39130-3,MD. RATUL AMAN,20,1.0,1.0,1.0,1.0,1.0,12.0,10.0,14.0
12,12,12,12,13,18-39243-3,MD. IMRAN HOSSAIN,20,1.0,0.0,1.0,1.0,1.0,14.0,8.0,17.0
13,13,13,13,14,19-39342-1,MD. ASIKUR RAHMAN SAUMIK,20,1.0,0.0,1.0,1.0,1.0,18.0,16.0,20.0
14,14,14,14,15,19-39434-1,MD. SAMIN ANJUM,19,1.0,0.0,1.0,1.0,1.0,0.0,16.0,0.0
15,15,15,15,16,19-39458-1,NURA YEASDANI,20,1.0,1.0,1.0,1.0,1.0,16.0,18.0,14.0
16,16,16,16,17,19-39573-1,LAMIA MANNAN,20,1.0,0.0,1.0,1.0,1.0,12.0,10.0,15.0
17,17,17,17,18,19-39674-1,TAHMID SHAHRIAR ARNOB,16,1.0,0.0,0.0,1.0,1.0,18.0,0.0,15.0
18,18,18,18,19,19-40055-1,ISHRAK AHMED ASIF,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0,15.0
19,19,19,19,20,19-40186-1,MOHAMMAD ALI,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0,15.0
20,20,20,20,21,19-40194-1,HASIBUL HASSAIN,20,1.0,1.0,1.0,1.0,1.0,14.0,0.0,15.0
21,21,21,21,22,19-40223-1,ASIF IQBAL BIN HARUN,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0,17.0
22,22,22,22,23,19-40255-1,SAIF HAQUE,18,1.0,1.0,1.0,1.0,1.0,12.0,16.0,15.0
23,23,23,23,24,19-40296-1,MD. AL-EMRAN PARAG,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0,15.0
24,24,24,24,25,19-40359-1,MOHAMMAED HASIB PRANTO,20,1.0,1.0,1.0,1.0,1.0,18.0,14.0,17.0
25,25,25,25,26,19-40544-1,READOAN KHAN RATUL,19,1.0,1.0,1.0,1.0,1.0,18.0,0.0,12.0
26,26,26,26,27,19-40677-1,MD MEHRAB SADIK,12,1.0,0.0,1.0,0.0,1.0,14.0,8.0,18.0
27,27,27,27,28,19-40683-1,TAMIM SULTANA ONKITA,18,1.0,1.0,1.0,1.0,1.0,14.0,6.0,15.0
28,28,28,28,29,19-40703-1,REHENUMA TABASSUM MEGHLA,17,1.0,1.0,1.0,1.0,1.0,16.0,6.0,18.0
29,29,29,29,30,19-40751-1,MD. MAHMUDUL HASAN,18,1.0,1.0,1.0,1.0,1.0,10.0,14.0,15.0
30,30,30,30,31,19-40804-2,SAFIQUL ISLAM SOIKAT,19,1.0,0.0,1.0,1.0,1.0,18.0,8.0,15.0
31,31,31,31,32,19-40836-2,MD. ARMAN UDDIN,19,1.0,1.0,1.0,1.0,1.0,20.0,14.0,20.0
32,32,32,32,33,19-40877-2,ABDUL MAJID,20,1.0,1.0,1.0,1.0,1.0,10.0,8.0,15.0
33,33,33,33,34,19-40948-2,S. M. A. WASEI,20,1.0,1.0,1.0,1.0,1.0,20.0,10.0,11.0
34,34,34,34,35,19-41059-2,BHUIYAN SAAD BIN MOBARAK,20,1.0,1.0,1.0,1.0,1.0,20.0,8.0,14.0
35,35,35,35,36,19-41258-3,RAIHAN UDDIN,20,1.0,0.0,1.0,1.0,1.0,20.0,12.0,20.0
36,36,36,36,37,19-41275-3,FARDIN HASAN KHAN,20,1.0,1.0,1.0,1.0,1.0,8.0,12.0,17.0
37,37,37,37,38,19-41284-3,MD. IBNA JAHID HASSAN,19,1.0,1.0,1.0,1.0,1.0,18.0,14.0,15.0
38,38,38,38,39,19-41341-3,MOHIM BHOWMICK,18,1.0,1.0,1.0,1.0,1.0,14.0,10.0,15.0
39,39,39,39,40,19-41348-3,MD. MAHFUZUR RAHMAN,20,1.0,1.0,1.0,1.0,1.0,16.0,14.0,17.0
40,40,40,40,41,19-41450-3,ABDULLAH AL MAMUN SHUVO,19,1.0,1.0,1.0,1.0,1.0,14.0,12.0,8.0
41,41,41,41,42,19-41479-3,BIJON SAHA,20,1.0,0.0,1.0,1.0,1.0,20.0,10.0,20.0
42,42,42,42,43,19-41516-3,KASIRA - TUT- TARFI,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0,20.0

In [54]:
df1.to_csv('./TotalGrade/TotalGrade.csv')

In [77]:
df2 = pd.read_csv ('./TotalGrade/TotalGrade.csv')
df2

,Unnamed: 0,SL,Student ID,Full Name,Ass.,labday1,labmakeup,labday5,theoryday1,theoryday2,quiz1,quiz2,quiz3
0,0,1,17-34409-1,KHALID MASRUR,17,1.0,0.0,1.0,1.0,0.0,0.0,8.0,17.0
1,1,2,17-34746-2,SANJADUL ALOM PIYAS,15,0.0,1.0,1.0,0.0,1.0,12.0,6.0,15.0
2,2,3,17-35536-3,SUMNOON-E-TAHA,20,1.0,1.0,1.0,1.0,1.0,14.0,12.0,15.0
3,3,4,17-35672-3,MEHEDI HASAN NILOY,19,1.0,1.0,1.0,1.0,1.0,12.0,12.0,15.0
4,4,5,17-35677-3,MUHAMMAD AL AMIN,19,1.0,1.0,1.0,1.0,1.0,16.0,14.0,15.0
5,5,6,18-37027-1,KHAN MD. EHSAN,17,0.0,0.0,1.0,1.0,0.0,0.0,0.0,15.0
6,6,7,18-37051-1,HIZBULLAH ATIK SIDDIQUE,19,1.0,1.0,1.0,1.0,1.0,12.0,10.0,12.0
7,7,8,18-37144-1,JAFRIN MONSUR KHAN,17,1.0,1.0,1.0,1.0,1.0,12.0,12.0,13.0
8,8,9,18-37827-2,MD. FARHAN TANVIR,19,1.0,1.0,1.0,1.0,1.0,14.0,14.0,11.0
9,9,10,18-37912-2,SAZZAD HASAN,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0,9.0
10,10,11,18-38923-3,MEHRAB HOSSAIN SHARAN,18,1.0,1.0,1.0,1.0,1.0,14.0,14.0,15.0
11,11,12,18-39130-3,MD. RATUL AMAN,20,1.0,1.0,1.0,1.0,1.0,12.0,10.0,14.0
12,12,13,18-39243-3,MD. IMRAN HOSSAIN,20,1.0,0.0,1.0,1.0,1.0,14.0,8.0,17.0
13,13,14,19-39342-1,MD. ASIKUR RAHMAN SAUMIK,20,1.0,0.0,1.0,1.0,1.0,18.0,16.0,20.0
14,14,15,19-39434-1,MD. SAMIN ANJUM,19,1.0,0.0,1.0,1.0,1.0,0.0,16.0,0.0
15,15,16,19-39458-1,NURA YEASDANI,20,1.0,1.0,1.0,1.0,1.0,16.0,18.0,14.0
16,16,17,19-39573-1,LAMIA MANNAN,20,1.0,0.0,1.0,1.0,1.0,12.0,10.0,15.0
17,17,18,19-39674-1,TAHMID SHAHRIAR ARNOB,16,1.0,0.0,0.0,1.0,1.0,18.0,0.0,15.0
18,18,19,19-40055-1,ISHRAK AHMED ASIF,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0,15.0
19,19,20,19-40186-1,MOHAMMAD ALI,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0,15.0
20,20,21,19-40194-1,HASIBUL HASSAIN,20,1.0,1.0,1.0,1.0,1.0,14.0,0.0,15.0
21,21,22,19-40223-1,ASIF IQBAL BIN HARUN,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0,17.0
22,22,23,19-40255-1,SAIF HAQUE,18,1.0,1.0,1.0,1.0,1.0,12.0,16.0,15.0
23,23,24,19-40296-1,MD. AL-EMRAN PARAG,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0,15.0
24,24,25,19-40359-1,MOHAMMAED HASIB PRANTO,20,1.0,1.0,1.0,1.0,1.0,18.0,14.0,17.0
25,25,26,19-40544-1,READOAN KHAN RATUL,19,1.0,1.0,1.0,1.0,1.0,18.0,0.0,12.0
26,26,27,19-40677-1,MD MEHRAB SADIK,12,1.0,0.0,1.0,0.0,1.0,14.0,8.0,18.0
27,27,28,19-40683-1,TAMIM SULTANA ONKITA,18,1.0,1.0,1.0,1.0,1.0,14.0,6.0,15.0
28,28,29,19-40703-1,REHENUMA TABASSUM MEGHLA,17,1.0,1.0,1.0,1.0,1.0,16.0,6.0,18.0
29,29,30,19-40751-1,MD. MAHMUDUL HASAN,18,1.0,1.0,1.0,1.0,1.0,10.0,14.0,15.0
30,30,31,19-40804-2,SAFIQUL ISLAM SOIKAT,19,1.0,0.0,1.0,1.0,1.0,18.0,8.0,15.0
31,31,32,19-40836-2,MD. ARMAN UDDIN,19,1.0,1.0,1.0,1.0,1.0,20.0,14.0,20.0
32,32,33,19-40877-2,ABDUL MAJID,20,1.0,1.0,1.0,1.0,1.0,10.0,8.0,15.0
33,33,34,19-40948-2,S. M. A. WASEI,20,1.0,1.0,1.0,1.0,1.0,20.0,10.0,11.0
34,34,35,19-41059-2,BHUIYAN SAAD BIN MOBARAK,20,1.0,1.0,1.0,1.0,1.0,20.0,8.0,14.0
35,35,36,19-41258-3,RAIHAN UDDIN,20,1.0,0.0,1.0,1.0,1.0,20.0,12.0,20.0
36,36,37,19-41275-3,FARDIN HASAN KHAN,20,1.0,1.0,1.0,1.0,1.0,8.0,12.0,17.0
37,37,38,19-41284-3,MD. IBNA JAHID HASSAN,19,1.0,1.0,1.0,1.0,1.0,18.0,14.0,15.0
38,38,39,19-41341-3,MOHIM BHOWMICK,18,1.0,1.0,1.0,1.0,1.0,14.0,10.0,15.0
39,39,40,19-41348-3,MD. MAHFUZUR RAHMAN,20,1.0,1.0,1.0,1.0,1.0,16.0,14.0,17.0
40,40,41,19-41450-3,ABDULLAH AL MAMUN SHUVO,19,1.0,1.0,1.0,1.0,1.0,14.0,12.0,8.0
41,41,42,19-41479-3,BIJON SAHA,20,1.0,0.0,1.0,1.0,1.0,20.0,10.0,20.0
42,42,43,19-41516-3,KASIRA - TUT- TARFI,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0,20.0

In [78]:
df2 = df2.drop(columns="Unnamed: 0")

In [70]:
df2 = df2.drop(columns="Unnamed: 0.1")
df2 = df2.drop(columns="Unnamed: 0.1.1")
df2 = df2.drop(columns="Unnamed: 0.1.1.1")
df2

,SL,Student ID,Full Name,Ass.,labday1,labmakeup,labday5,theoryday1,theoryday2,quiz1,quiz2,quiz3
0,1,17-34409-1,KHALID MASRUR,17,1.0,0.0,1.0,1.0,0.0,0.0,8.0,17.0
1,2,17-34746-2,SANJADUL ALOM PIYAS,15,0.0,1.0,1.0,0.0,1.0,12.0,6.0,15.0
2,3,17-35536-3,SUMNOON-E-TAHA,20,1.0,1.0,1.0,1.0,1.0,14.0,12.0,15.0
3,4,17-35672-3,MEHEDI HASAN NILOY,19,1.0,1.0,1.0,1.0,1.0,12.0,12.0,15.0
4,5,17-35677-3,MUHAMMAD AL AMIN,19,1.0,1.0,1.0,1.0,1.0,16.0,14.0,15.0
5,6,18-37027-1,KHAN MD. EHSAN,17,0.0,0.0,1.0,1.0,0.0,0.0,0.0,15.0
6,7,18-37051-1,HIZBULLAH ATIK SIDDIQUE,19,1.0,1.0,1.0,1.0,1.0,12.0,10.0,12.0
7,8,18-37144-1,JAFRIN MONSUR KHAN,17,1.0,1.0,1.0,1.0,1.0,12.0,12.0,13.0
8,9,18-37827-2,MD. FARHAN TANVIR,19,1.0,1.0,1.0,1.0,1.0,14.0,14.0,11.0
9,10,18-37912-2,SAZZAD HASAN,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0,9.0
10,11,18-38923-3,MEHRAB HOSSAIN SHARAN,18,1.0,1.0,1.0,1.0,1.0,14.0,14.0,15.0
11,12,18-39130-3,MD. RATUL AMAN,20,1.0,1.0,1.0,1.0,1.0,12.0,10.0,14.0
12,13,18-39243-3,MD. IMRAN HOSSAIN,20,1.0,0.0,1.0,1.0,1.0,14.0,8.0,17.0
13,14,19-39342-1,MD. ASIKUR RAHMAN SAUMIK,20,1.0,0.0,1.0,1.0,1.0,18.0,16.0,20.0
14,15,19-39434-1,MD. SAMIN ANJUM,19,1.0,0.0,1.0,1.0,1.0,0.0,16.0,0.0
15,16,19-39458-1,NURA YEASDANI,20,1.0,1.0,1.0,1.0,1.0,16.0,18.0,14.0
16,17,19-39573-1,LAMIA MANNAN,20,1.0,0.0,1.0,1.0,1.0,12.0,10.0,15.0
17,18,19-39674-1,TAHMID SHAHRIAR ARNOB,16,1.0,0.0,0.0,1.0,1.0,18.0,0.0,15.0
18,19,19-40055-1,ISHRAK AHMED ASIF,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0,15.0
19,20,19-40186-1,MOHAMMAD ALI,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0,15.0
20,21,19-40194-1,HASIBUL HASSAIN,20,1.0,1.0,1.0,1.0,1.0,14.0,0.0,15.0
21,22,19-40223-1,ASIF IQBAL BIN HARUN,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0,17.0
22,23,19-40255-1,SAIF HAQUE,18,1.0,1.0,1.0,1.0,1.0,12.0,16.0,15.0
23,24,19-40296-1,MD. AL-EMRAN PARAG,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0,15.0
24,25,19-40359-1,MOHAMMAED HASIB PRANTO,20,1.0,1.0,1.0,1.0,1.0,18.0,14.0,17.0
25,26,19-40544-1,READOAN KHAN RATUL,19,1.0,1.0,1.0,1.0,1.0,18.0,0.0,12.0
26,27,19-40677-1,MD MEHRAB SADIK,12,1.0,0.0,1.0,0.0,1.0,14.0,8.0,18.0
27,28,19-40683-1,TAMIM SULTANA ONKITA,18,1.0,1.0,1.0,1.0,1.0,14.0,6.0,15.0
28,29,19-40703-1,REHENUMA TABASSUM MEGHLA,17,1.0,1.0,1.0,1.0,1.0,16.0,6.0,18.0
29,30,19-40751-1,MD. MAHMUDUL HASAN,18,1.0,1.0,1.0,1.0,1.0,10.0,14.0,15.0
30,31,19-40804-2,SAFIQUL ISLAM SOIKAT,19,1.0,0.0,1.0,1.0,1.0,18.0,8.0,15.0
31,32,19-40836-2,MD. ARMAN UDDIN,19,1.0,1.0,1.0,1.0,1.0,20.0,14.0,20.0
32,33,19-40877-2,ABDUL MAJID,20,1.0,1.0,1.0,1.0,1.0,10.0,8.0,15.0
33,34,19-40948-2,S. M. A. WASEI,20,1.0,1.0,1.0,1.0,1.0,20.0,10.0,11.0
34,35,19-41059-2,BHUIYAN SAAD BIN MOBARAK,20,1.0,1.0,1.0,1.0,1.0,20.0,8.0,14.0
35,36,19-41258-3,RAIHAN UDDIN,20,1.0,0.0,1.0,1.0,1.0,20.0,12.0,20.0
36,37,19-41275-3,FARDIN HASAN KHAN,20,1.0,1.0,1.0,1.0,1.0,8.0,12.0,17.0
37,38,19-41284-3,MD. IBNA JAHID HASSAN,19,1.0,1.0,1.0,1.0,1.0,18.0,14.0,15.0
38,39,19-41341-3,MOHIM BHOWMICK,18,1.0,1.0,1.0,1.0,1.0,14.0,10.0,15.0
39,40,19-41348-3,MD. MAHFUZUR RAHMAN,20,1.0,1.0,1.0,1.0,1.0,16.0,14.0,17.0
40,41,19-41450-3,ABDULLAH AL MAMUN SHUVO,19,1.0,1.0,1.0,1.0,1.0,14.0,12.0,8.0
41,42,19-41479-3,BIJON SAHA,20,1.0,0.0,1.0,1.0,1.0,20.0,10.0,20.0
42,43,19-41516-3,KASIRA - TUT- TARFI,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0,20.0

In [80]:
df2.to_csv('./TotalGrade/TotalGrade.csv')

In [64]:
labexam = pd.read_excel('./Quizes/Lab Exam.xlsx', sheet_name='Sheet1')
labexam

,ID,Start time,Completion time,Email,Name,Total points,Quiz feedback,What is the last index of an array consists of 10 elements?,Points - What is the last index of an array consists of 10 elements?,Feedback - What is the last index of an array consists of 10 elements?,...,"Feedback - What is the output of the following code snippet?\n\n int a=100;\n if(a>10)\n printf(""Sakib"");\n else if(a>20)\n printf(""Tamim"");\n else if(a>30)\n printf(""Taskin"");","what is the output of the following code snippet?\n\n int arr[] = {1,2,3,4,5,6,7,8};\n int *p = arr;\n int i=1;\n while(i<8){\n cout << *p + i;\n I = i+2;\n }","Points - what is the output of the following code snippet?\n\n int arr[] = {1,2,3,4,5,6,7,8};\n int *p = arr;\n int i=1;\n while(i<8){\n cout << *p + i;\n I = i+2;\n }","Feedback - what is the output of the following code snippet?\n\n int arr[] = {1,2,3,4,5,6,7,8};\n int *p = arr;\n int i=1;\n while(i<8){\n cout << *p + i;\n I = i+2;\n }","What will be the output for the following code snippet?\n\nvoid my_func(int a[], int arr_size){\n int sum = 0;\n float avg;\n for(int i = 0; i < arr_size; i++){\n a[i] = a[i] * 10;\n }...","Points - What will be the output for the following code snippet?\n\nvoid my_func(int a[], int arr_size){\n int sum = 0;\n float avg;\n for(int i = 0; i < arr_size; i++){\n a[i] = a[i] * 10;\n }...","Feedback - What will be the output for the following code snippet?\n\nvoid my_func(int a[], int arr_size){\n int sum = 0;\n float avg;\n for(int i = 0; i < arr_size; i++){\n a[i] = a[i] * 10;\n }...","How many syntax errors the following code contains?\n\n#include<iostream>\nusing namespace std;\n\nint main(){\n int arr[][] = {1, 2, 3, 4, 5, 6, 7, 8, 9};\n for(i = 0; i < 3; i++){\n for(j =...","Points - How many syntax errors the following code contains?\n\n#include<iostream>\nusing namespace std;\n\nint main(){\n int arr[][] = {1, 2, 3, 4, 5, 6, 7, 8, 9};\n for(i = 0; i < 3; i++){\n for(j =...","Feedback - How many syntax errors the following code contains?\n\n#include<iostream>\nusing namespace std;\n\nint main(){\n int arr[][] = {1, 2, 3, 4, 5, 6, 7, 8, 9};\n for(i = 0; i < 3; i++){\n for(j =..."
0,1,2021-06-27 08:15:13,2021-06-27 08:29:12,19-40836-2@student.aiub.edu,19-40836-2@student.aiub.edu,24,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,4,0,NaN
1,2,2021-06-27 08:15:10,2021-06-27 08:29:16,19-41516-3@student.aiub.edu,19-41516-3@student.aiub.edu,24,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,4,0,NaN
2,3,2021-06-27 08:15:09,2021-06-27 08:29:30,17-35677-3@student.aiub.edu,17-35677-3@student.aiub.edu,24,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
3,4,2021-06-27 08:15:03,2021-06-27 08:29:30,19-41258-3@student.aiub.edu,19-41258-3@student.aiub.edu,24,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,4,0,NaN
4,5,2021-06-27 08:15:08,2021-06-27 08:29:38,19-39674-1@student.aiub.edu,19-39674-1@student.aiub.edu,15,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,4,0,NaN
5,6,2021-06-27 08:15:27,2021-06-27 08:29:48,19-40223-1@student.aiub.edu,19-40223-1@student.aiub.edu,10,NaN,10,0,NaN,...,NaN,246,0,NaN,10 20 30 40 50,4,NaN,5,0,NaN
6,7,2021-06-27 08:15:06,2021-06-27 08:29:49,19-40194-1@student.aiub.edu,19-40194-1@student.aiub.edu,18,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
7,8,2021-06-27 08:15:24,2021-06-27 08:29:51,19-39573-1@student.aiub.edu,19-39573-1@student.aiub.edu,18,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
8,9,2021-06-27 08:16:43,2021-06-27 08:29:52,19-39434-1@student.aiub.edu,19-39434-1@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,1357,0,NaN,10 20 30 40 50,4,NaN,3,3,NaN
9,10,2021-06-27 08:15:28,2021-06-27 08:29:56,18-38923-3@student.aiub.edu,18-38923-3@student.aiub.edu,15,NaN,9,2,NaN,...,NaN,246,0,NaN,10 20 30 40 50,4,NaN,3,3,NaN
10,11,2021-06-27 08:15:23,2021-06-27 08:29:56,19-40296-1@student.aiub.edu,19-40296-1@student.aiub.edu,15,NaN,9,2,NaN,...,NaN,246,0,NaN,10 20 30 40 50,4,NaN,4,0,NaN
11,12,2021-06-27 08:15:14,2021-06-27 08:29:57,19-41059-2@student.aiub.edu,19-41059-2@student.aiub.edu,20,NaN,9,2,NaN,...,NaN,2468,3,NaN,1 2 3 4 5,0,NaN,3,3,NaN
12,13,2021-06-27 08:15:07,2021-06-27 08:29:58,19-40877-2@student.aiub.edu,19-40877-2@student.aiub.edu,18,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
13,14,2021-06-27 08:15:13,2021-06-27 08:29:59,18-39243-3@student.aiub.edu,18-39243-3@student.aiub.edu,18,NaN,9,2,NaN,...,NaN,12345678,0,NaN,10 20 30 40 50,4,NaN,5,0,NaN
14,15,2021-06-27 08:15:10,2021-06-27 08:30:23,19-40751-1@student.aiub.edu,19-40751-1@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
15,16,2021-06-27 08:15:26,2021-06-27 08:30:24,18-37912-2@student.aiub.edu,18-37912-2@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
16,17,2021-06-27 08:15:06,2021-06-27 08:30:26,17-34409-1@student.aiub.edu,17-34409-1@student.aiub.edu,18,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
17,18,2021-06-27 08:15:06,2021-06-27 08:30:26,19-40677-1@student.aiub.edu,19-40677-1@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
18,19,2021-06-27 08:15:13,2021-06-27 08:30:27,19-40804-2@student.aiub.edu,19-40804-2@student.aiub.edu,24,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,4,0,NaN
19,20,2021-06-27 08:15:28,2021-06-27 08:30:30,18-37144-1@student.aiub.edu,18-37144-1@student.aiub.edu,24,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,4,0,NaN
20,21,2021-06-27 08:15:04,2021-06-27 08:30:30,17-35536-3@student.aiub.edu,17-35536-3@student.aiub.edu,18,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,4,0,NaN
21,22,2021-06-27 08:15:29,2021-06-27 08:30:30,19-40948-2@student.aiub.edu,19-40948-2@student.aiub.edu,17,NaN,9,2,NaN,...,NaN,2468,3,NaN,1 2 3 4 5,0,NaN,3,3,NaN
22,23,2021-06-27 08:15:35,2021-06-27 08:30:30,19-41275-3@student.aiub.edu,19-41275-3@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,4,0,NaN
23,24,2021-06-27 08:15:13,2021-06-27 08:30:31,18-37027-1@student.aiub.edu,18-37027-1@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
24,25,2021-06-27 08:15:00,2021-06-27 08:30:31,19-40055-1@student.aiub.edu,19-40055-1@student.aiub.edu,15,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
25,26,2021-06-27 08:18:00,2021-06-27 08:30:31,18-37827-2@student.aiub.edu,18-37827-2@student.aiub.edu,9,NaN,Last index defined by the programmer,0,NaN,...,NaN,1357,0,NaN,2 4 6,0,NaN,4,0,NaN
26,27,2021-06-27 08:15:04,2021-06-27 08:30:32,19-41450-3@student.aiub.edu,19-41450-3@student.aiub.edu,15,NaN,9,2,NaN,...,NaN,12345678,0,NaN,10 20 30 40 50,4,NaN,2,0,NaN
27,28,2021-06-27 08:16:16,2021-06-27 08:30:33,19-40683-1@student.aiub.edu,19-40683-1@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
28,29,2021-06-27 08:15:01,2021-06-27 08:30:33,19-39458-1@student.aiub.edu,19-39458-1@student.aiub.edu,10,NaN,Last index defined by the programmer,0,NaN,...,NaN,1357,0,NaN,10 20 30 40 50,4,NaN,5,0,NaN
29,30,2021-06-27 08:16:00,2021-06-27 08:30:35,17-34746-2@student.aiub.edu,17-34746-2@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
30,31,2021-06-27 08:15:29,2021-06-27 08:30:36,18-37051-1@student.aiub.edu,18-37051-1@student.aiub.edu,15,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,5,0,NaN
31,32,2021-06-27 08:15:13,2021-06-27 08:30:37,19-40544-1@student.aiub.edu,19-40544-1@student.aiub.edu,18,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
32,33,2021-06-27 08:15:34,2021-06-27 08:30:38,19-40186-1@student.aiub.edu,19-40186-1@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
33,34,2021-06-27 08:15:57,2021-06-27 08:30:39,19-39342-1@student.aiub.edu,19-39342-1@student.aiub.edu,15,NaN,9,2,NaN,...,NaN,246,0,NaN,10 20 30 40 50,4,NaN,4,0,NaN
34,35,2021-06-27 08:15:11,2021-06-27 08:30:39,19-41479-3@student.aiub.edu,19-41479-3@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,4,0,NaN
35,36,2021-06-27 08:15:20,2021-06-27 08:30:44,19-40359-1@student.aiub.edu,19-40359-1@student.aiub.edu,12,NaN,9,2,NaN,...,NaN,246,0,NaN,10 20 30 40 50,4,NaN,4,0,NaN
36,37,2021-06-27 08:15:10,2021-06-27 08:30:52,19-40255-1@student.aiub.edu,19-40255-1@student.aiub.edu,15,NaN,9,2,NaN,...,NaN,246,0,NaN,10 20 30 40 50,4,NaN,3,3,NaN
37,38,2021-06-27 08:15:12,2021-06-27 08:30:54,19-41348-3@student.aiub.edu,19-41348-3@student.aiub.edu,18,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,4,0,NaN
38,39,2021-06-27 08:15:10,2021-06-27 08:30:56,19-41284-3@student.aiub.edu,19-41284-3@student.aiub.edu,24,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
39,40,2021-06-27 08:15:11,2021-06-27 08:31:24,17-35672-3@student.aiub.edu,17-35672-3@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,5,0,NaN
40,41,2021-06-27 08:15:31,2021-06-27 08:31:25,19-40703-1@student.aiub.edu,19-40703-1@student.aiub.edu,21,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,3,3,NaN
41,42,2021-06-27 08:15:30,2021-06-27 08:31:30,19-41341-3@student.aiub.edu,19-41341-3@student.aiub.edu,12,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,5,0,NaN
42,43,2021-06-27 08:15:28,2021-06-27 08:31:35,18-39130-3@student.aiub.edu,18-39130-3@student.aiub.edu,15,NaN,9,2,NaN,...,NaN,2468,3,NaN,10 20 30 40 50,4,NaN,5,0,NaN

In [65]:
labquizcolumn = labexam[labexam.columns[4:6]]
labquizresult = labquizcolumn['Name'] 
labquizcolumn[['ID','Extra']] = labquizresult.str.split("@", n=1, expand=True) 
labquizcolumn

C:\Users\Asus\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                           Name  Total points          ID             Extra
0   19-40836-2@student.aiub.edu            24  19-40836-2  student.aiub.edu
1   19-41516-3@student.aiub.edu            24  19-41516-3  student.aiub.edu
2   17-35677-3@student.aiub.edu            24  17-35677-3  student.aiub.edu
3   19-41258-3@student.aiub.edu            24  19-41258-3  student.aiub.edu
4   19-39674-1@student.aiub.edu            15  19-39674-1  student.aiub.edu
5   19-40223-1@student.aiub.edu            10  19-40223-1  student.aiub.edu
6   19-40194-1@student.aiub.edu            18  19-40194-1  student.aiub.edu
7   19-39573-1@student.aiub.edu            18  19-39573-1  student.aiub.edu
8   19-39434-1@student.aiub.edu            21  19-39434-1  student.aiub.edu
9   18-38923-3@student.aiub.edu            15  18-38923-3  student.aiub.edu
10  19-40296-1@student.aiub.edu            15  19-40296-1  student.aiub.edu
11  19-41059-2@student.aiub.edu            20  19-41059-2  student.aiub.edu
12  19-40877-2@student.aiub.edu            18  19-40877-2  student.aiub.edu
13  18-39243-3@student.aiub.edu            18  18-39243-3  student.aiub.edu
14  19-40751-1@student.aiub.edu            21  19-40751-1  student.aiub.edu
15  18-37912-2@student.aiub.edu            21  18-37912-2  student.aiub.edu
16  17-34409-1@student.aiub.edu            18  17-34409-1  student.aiub.edu
17  19-40677-1@student.aiub.edu            21  19-40677-1  student.aiub.edu
18  19-40804-2@student.aiub.edu            24  19-40804-2  student.aiub.edu
19  18-37144-1@student.aiub.edu            24  18-37144-1  student.aiub.edu
20  17-35536-3@student.aiub.edu            18  17-35536-3  student.aiub.edu
21  19-40948-2@student.aiub.edu            17  19-40948-2  student.aiub.edu
22  19-41275-3@student.aiub.edu            21  19-41275-3  student.aiub.edu
23  18-37027-1@student.aiub.edu            21  18-37027-1  student.aiub.edu
24  19-40055-1@student.aiub.edu            15  19-40055-1  student.aiub.edu
25  18-37827-2@student.aiub.edu             9  18-37827-2  student.aiub.edu
26  19-41450-3@student.aiub.edu            15  19-41450-3  student.aiub.edu
27  19-40683-1@student.aiub.edu            21  19-40683-1  student.aiub.edu
28  19-39458-1@student.aiub.edu            10  19-39458-1  student.aiub.edu
29  17-34746-2@student.aiub.edu            21  17-34746-2  student.aiub.edu
30  18-37051-1@student.aiub.edu            15  18-37051-1  student.aiub.edu
31  19-40544-1@student.aiub.edu            18  19-40544-1  student.aiub.edu
32  19-40186-1@student.aiub.edu            21  19-40186-1  student.aiub.edu
33  19-39342-1@student.aiub.edu            15  19-39342-1  student.aiub.edu
34  19-41479-3@student.aiub.edu            21  19-41479-3  student.aiub.edu
35  19-40359-1@student.aiub.edu            12  19-40359-1  student.aiub.edu
36  19-40255-1@student.aiub.edu            15  19-40255-1  student.aiub.edu
37  19-41348-3@student.aiub.edu            18  19-41348-3  student.aiub.edu
38  19-41284-3@student.aiub.edu            24  19-41284-3  student.aiub.edu
39  17-35672-3@student.aiub.edu            21  17-35672-3  student.aiub.edu
40  19-40703-1@student.aiub.edu            21  19-40703-1  student.aiub.edu
41  19-41341-3@student.aiub.edu            12  19-41341-3  student.aiub.edu
42  18-39130-3@student.aiub.edu            15  18-39130-3  student.aiub.edu

In [66]:
newlabquizcolumn = labquizcolumn[column.columns[1:3]]
newlabquizcolumn

    Total points          ID
0             24  19-40836-2
1             24  19-41516-3
2             24  17-35677-3
3             24  19-41258-3
4             15  19-39674-1
5             10  19-40223-1
6             18  19-40194-1
7             18  19-39573-1
8             21  19-39434-1
9             15  18-38923-3
10            15  19-40296-1
11            20  19-41059-2
12            18  19-40877-2
13            18  18-39243-3
14            21  19-40751-1
15            21  18-37912-2
16            18  17-34409-1
17            21  19-40677-1
18            24  19-40804-2
19            24  18-37144-1
20            18  17-35536-3
21            17  19-40948-2
22            21  19-41275-3
23            21  18-37027-1
24            15  19-40055-1
25             9  18-37827-2
26            15  19-41450-3
27            21  19-40683-1
28            10  19-39458-1
29            21  17-34746-2
30            15  18-37051-1
31            18  19-40544-1
32            21  19-40186-1
33            15  19-39342-1
34            21  19-41479-3
35            12  19-40359-1
36            15  19-40255-1
37            18  19-41348-3
38            24  19-41284-3
39            21  17-35672-3
40            21  19-40703-1
41            12  19-41341-3
42            15  18-39130-3

In [86]:
dflab = pd.read_csv ('./TotalGrade/TotalGrade.csv')
dflab = dflab.drop(columns="Unnamed: 0")
dflab

,SL,Student ID,Full Name,Ass.,labday1,labmakeup,labday5,theoryday1,theoryday2,quiz1,quiz2,quiz3
0,1,17-34409-1,KHALID MASRUR,17,1.0,0.0,1.0,1.0,0.0,0.0,8.0,17.0
1,2,17-34746-2,SANJADUL ALOM PIYAS,15,0.0,1.0,1.0,0.0,1.0,12.0,6.0,15.0
2,3,17-35536-3,SUMNOON-E-TAHA,20,1.0,1.0,1.0,1.0,1.0,14.0,12.0,15.0
3,4,17-35672-3,MEHEDI HASAN NILOY,19,1.0,1.0,1.0,1.0,1.0,12.0,12.0,15.0
4,5,17-35677-3,MUHAMMAD AL AMIN,19,1.0,1.0,1.0,1.0,1.0,16.0,14.0,15.0
5,6,18-37027-1,KHAN MD. EHSAN,17,0.0,0.0,1.0,1.0,0.0,0.0,0.0,15.0
6,7,18-37051-1,HIZBULLAH ATIK SIDDIQUE,19,1.0,1.0,1.0,1.0,1.0,12.0,10.0,12.0
7,8,18-37144-1,JAFRIN MONSUR KHAN,17,1.0,1.0,1.0,1.0,1.0,12.0,12.0,13.0
8,9,18-37827-2,MD. FARHAN TANVIR,19,1.0,1.0,1.0,1.0,1.0,14.0,14.0,11.0
9,10,18-37912-2,SAZZAD HASAN,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0,9.0
10,11,18-38923-3,MEHRAB HOSSAIN SHARAN,18,1.0,1.0,1.0,1.0,1.0,14.0,14.0,15.0
11,12,18-39130-3,MD. RATUL AMAN,20,1.0,1.0,1.0,1.0,1.0,12.0,10.0,14.0
12,13,18-39243-3,MD. IMRAN HOSSAIN,20,1.0,0.0,1.0,1.0,1.0,14.0,8.0,17.0
13,14,19-39342-1,MD. ASIKUR RAHMAN SAUMIK,20,1.0,0.0,1.0,1.0,1.0,18.0,16.0,20.0
14,15,19-39434-1,MD. SAMIN ANJUM,19,1.0,0.0,1.0,1.0,1.0,0.0,16.0,0.0
15,16,19-39458-1,NURA YEASDANI,20,1.0,1.0,1.0,1.0,1.0,16.0,18.0,14.0
16,17,19-39573-1,LAMIA MANNAN,20,1.0,0.0,1.0,1.0,1.0,12.0,10.0,15.0
17,18,19-39674-1,TAHMID SHAHRIAR ARNOB,16,1.0,0.0,0.0,1.0,1.0,18.0,0.0,15.0
18,19,19-40055-1,ISHRAK AHMED ASIF,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0,15.0
19,20,19-40186-1,MOHAMMAD ALI,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0,15.0
20,21,19-40194-1,HASIBUL HASSAIN,20,1.0,1.0,1.0,1.0,1.0,14.0,0.0,15.0
21,22,19-40223-1,ASIF IQBAL BIN HARUN,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0,17.0
22,23,19-40255-1,SAIF HAQUE,18,1.0,1.0,1.0,1.0,1.0,12.0,16.0,15.0
23,24,19-40296-1,MD. AL-EMRAN PARAG,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0,15.0
24,25,19-40359-1,MOHAMMAED HASIB PRANTO,20,1.0,1.0,1.0,1.0,1.0,18.0,14.0,17.0
25,26,19-40544-1,READOAN KHAN RATUL,19,1.0,1.0,1.0,1.0,1.0,18.0,0.0,12.0
26,27,19-40677-1,MD MEHRAB SADIK,12,1.0,0.0,1.0,0.0,1.0,14.0,8.0,18.0
27,28,19-40683-1,TAMIM SULTANA ONKITA,18,1.0,1.0,1.0,1.0,1.0,14.0,6.0,15.0
28,29,19-40703-1,REHENUMA TABASSUM MEGHLA,17,1.0,1.0,1.0,1.0,1.0,16.0,6.0,18.0
29,30,19-40751-1,MD. MAHMUDUL HASAN,18,1.0,1.0,1.0,1.0,1.0,10.0,14.0,15.0
30,31,19-40804-2,SAFIQUL ISLAM SOIKAT,19,1.0,0.0,1.0,1.0,1.0,18.0,8.0,15.0
31,32,19-40836-2,MD. ARMAN UDDIN,19,1.0,1.0,1.0,1.0,1.0,20.0,14.0,20.0
32,33,19-40877-2,ABDUL MAJID,20,1.0,1.0,1.0,1.0,1.0,10.0,8.0,15.0
33,34,19-40948-2,S. M. A. WASEI,20,1.0,1.0,1.0,1.0,1.0,20.0,10.0,11.0
34,35,19-41059-2,BHUIYAN SAAD BIN MOBARAK,20,1.0,1.0,1.0,1.0,1.0,20.0,8.0,14.0
35,36,19-41258-3,RAIHAN UDDIN,20,1.0,0.0,1.0,1.0,1.0,20.0,12.0,20.0
36,37,19-41275-3,FARDIN HASAN KHAN,20,1.0,1.0,1.0,1.0,1.0,8.0,12.0,17.0
37,38,19-41284-3,MD. IBNA JAHID HASSAN,19,1.0,1.0,1.0,1.0,1.0,18.0,14.0,15.0
38,39,19-41341-3,MOHIM BHOWMICK,18,1.0,1.0,1.0,1.0,1.0,14.0,10.0,15.0
39,40,19-41348-3,MD. MAHFUZUR RAHMAN,20,1.0,1.0,1.0,1.0,1.0,16.0,14.0,17.0
40,41,19-41450-3,ABDULLAH AL MAMUN SHUVO,19,1.0,1.0,1.0,1.0,1.0,14.0,12.0,8.0
41,42,19-41479-3,BIJON SAHA,20,1.0,0.0,1.0,1.0,1.0,20.0,10.0,20.0
42,43,19-41516-3,KASIRA - TUT- TARFI,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0,20.0

In [87]:
for  x in dflab.index:
    dflab.loc [x, "labquiz"] = 0
    for  y in newlabquizcolumn.index:
       if dflab.loc [x, "Student ID"]==newlabquizcolumn.loc [y, "ID"] :
          dflab.loc [x, "labquiz"]=newlabquizcolumn.loc [y, "Total points"]

In [88]:
dflab

,SL,Student ID,Full Name,Ass.,labday1,labmakeup,labday5,theoryday1,theoryday2,quiz1,quiz2,quiz3,labquiz
0,1,17-34409-1,KHALID MASRUR,17,1.0,0.0,1.0,1.0,0.0,0.0,8.0,17.0,18.0
1,2,17-34746-2,SANJADUL ALOM PIYAS,15,0.0,1.0,1.0,0.0,1.0,12.0,6.0,15.0,21.0
2,3,17-35536-3,SUMNOON-E-TAHA,20,1.0,1.0,1.0,1.0,1.0,14.0,12.0,15.0,18.0
3,4,17-35672-3,MEHEDI HASAN NILOY,19,1.0,1.0,1.0,1.0,1.0,12.0,12.0,15.0,21.0
4,5,17-35677-3,MUHAMMAD AL AMIN,19,1.0,1.0,1.0,1.0,1.0,16.0,14.0,15.0,24.0
5,6,18-37027-1,KHAN MD. EHSAN,17,0.0,0.0,1.0,1.0,0.0,0.0,0.0,15.0,21.0
6,7,18-37051-1,HIZBULLAH ATIK SIDDIQUE,19,1.0,1.0,1.0,1.0,1.0,12.0,10.0,12.0,15.0
7,8,18-37144-1,JAFRIN MONSUR KHAN,17,1.0,1.0,1.0,1.0,1.0,12.0,12.0,13.0,24.0
8,9,18-37827-2,MD. FARHAN TANVIR,19,1.0,1.0,1.0,1.0,1.0,14.0,14.0,11.0,9.0
9,10,18-37912-2,SAZZAD HASAN,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0,9.0,21.0
10,11,18-38923-3,MEHRAB HOSSAIN SHARAN,18,1.0,1.0,1.0,1.0,1.0,14.0,14.0,15.0,15.0
11,12,18-39130-3,MD. RATUL AMAN,20,1.0,1.0,1.0,1.0,1.0,12.0,10.0,14.0,15.0
12,13,18-39243-3,MD. IMRAN HOSSAIN,20,1.0,0.0,1.0,1.0,1.0,14.0,8.0,17.0,18.0
13,14,19-39342-1,MD. ASIKUR RAHMAN SAUMIK,20,1.0,0.0,1.0,1.0,1.0,18.0,16.0,20.0,15.0
14,15,19-39434-1,MD. SAMIN ANJUM,19,1.0,0.0,1.0,1.0,1.0,0.0,16.0,0.0,21.0
15,16,19-39458-1,NURA YEASDANI,20,1.0,1.0,1.0,1.0,1.0,16.0,18.0,14.0,10.0
16,17,19-39573-1,LAMIA MANNAN,20,1.0,0.0,1.0,1.0,1.0,12.0,10.0,15.0,18.0
17,18,19-39674-1,TAHMID SHAHRIAR ARNOB,16,1.0,0.0,0.0,1.0,1.0,18.0,0.0,15.0,15.0
18,19,19-40055-1,ISHRAK AHMED ASIF,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0,15.0,15.0
19,20,19-40186-1,MOHAMMAD ALI,19,1.0,1.0,1.0,1.0,1.0,10.0,16.0,15.0,21.0
20,21,19-40194-1,HASIBUL HASSAIN,20,1.0,1.0,1.0,1.0,1.0,14.0,0.0,15.0,18.0
21,22,19-40223-1,ASIF IQBAL BIN HARUN,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0,17.0,10.0
22,23,19-40255-1,SAIF HAQUE,18,1.0,1.0,1.0,1.0,1.0,12.0,16.0,15.0,15.0
23,24,19-40296-1,MD. AL-EMRAN PARAG,18,1.0,1.0,1.0,1.0,1.0,14.0,12.0,15.0,15.0
24,25,19-40359-1,MOHAMMAED HASIB PRANTO,20,1.0,1.0,1.0,1.0,1.0,18.0,14.0,17.0,12.0
25,26,19-40544-1,READOAN KHAN RATUL,19,1.0,1.0,1.0,1.0,1.0,18.0,0.0,12.0,18.0
26,27,19-40677-1,MD MEHRAB SADIK,12,1.0,0.0,1.0,0.0,1.0,14.0,8.0,18.0,21.0
27,28,19-40683-1,TAMIM SULTANA ONKITA,18,1.0,1.0,1.0,1.0,1.0,14.0,6.0,15.0,21.0
28,29,19-40703-1,REHENUMA TABASSUM MEGHLA,17,1.0,1.0,1.0,1.0,1.0,16.0,6.0,18.0,21.0
29,30,19-40751-1,MD. MAHMUDUL HASAN,18,1.0,1.0,1.0,1.0,1.0,10.0,14.0,15.0,21.0
30,31,19-40804-2,SAFIQUL ISLAM SOIKAT,19,1.0,0.0,1.0,1.0,1.0,18.0,8.0,15.0,24.0
31,32,19-40836-2,MD. ARMAN UDDIN,19,1.0,1.0,1.0,1.0,1.0,20.0,14.0,20.0,24.0
32,33,19-40877-2,ABDUL MAJID,20,1.0,1.0,1.0,1.0,1.0,10.0,8.0,15.0,18.0
33,34,19-40948-2,S. M. A. WASEI,20,1.0,1.0,1.0,1.0,1.0,20.0,10.0,11.0,17.0
34,35,19-41059-2,BHUIYAN SAAD BIN MOBARAK,20,1.0,1.0,1.0,1.0,1.0,20.0,8.0,14.0,20.0
35,36,19-41258-3,RAIHAN UDDIN,20,1.0,0.0,1.0,1.0,1.0,20.0,12.0,20.0,24.0
36,37,19-41275-3,FARDIN HASAN KHAN,20,1.0,1.0,1.0,1.0,1.0,8.0,12.0,17.0,21.0
37,38,19-41284-3,MD. IBNA JAHID HASSAN,19,1.0,1.0,1.0,1.0,1.0,18.0,14.0,15.0,24.0
38,39,19-41341-3,MOHIM BHOWMICK,18,1.0,1.0,1.0,1.0,1.0,14.0,10.0,15.0,12.0
39,40,19-41348-3,MD. MAHFUZUR RAHMAN,20,1.0,1.0,1.0,1.0,1.0,16.0,14.0,17.0,18.0
40,41,19-41450-3,ABDULLAH AL MAMUN SHUVO,19,1.0,1.0,1.0,1.0,1.0,14.0,12.0,8.0,15.0
41,42,19-41479-3,BIJON SAHA,20,1.0,0.0,1.0,1.0,1.0,20.0,10.0,20.0,21.0
42,43,19-41516-3,KASIRA - TUT- TARFI,20,1.0,1.0,1.0,1.0,1.0,20.0,14.0,20.0,24.0

In [89]:
dflab.to_csv('./TotalGrade/TotalGrade.csv')