In [1]:
import  pandas  as pd

In [4]:
df = pd.read_csv ('./Attendance/Week_1_Lab.csv')
df

                  Full Name User Action             Timestamp
0         Akinul Islam Jony      Joined  23/05/2021, 08:00:34
1         Akinul Islam Jony        Left  23/05/2021, 10:11:26
2         Akinul Islam Jony      Joined  23/05/2021, 10:11:46
3        MD. AL-EMRAN PARAG      Joined  23/05/2021, 08:00:50
4        MD. AL-EMRAN PARAG        Left  23/05/2021, 10:50:58
..                      ...         ...                   ...
87             SAZZAD HASAN      Joined  23/05/2021, 08:07:46
88             SAZZAD HASAN        Left  23/05/2021, 09:20:55
89             SAZZAD HASAN      Joined  23/05/2021, 09:20:56
90             MOHAMMAD ALI      Joined  23/05/2021, 08:08:19
91  HIZBULLAH ATIK SIDDIQUE      Joined  23/05/2021, 09:13:44

[92 rows x 3 columns]

In [45]:
print(df.to_string())

                   Full Name User Action             Timestamp
0          Akinul Islam Jony      Joined  23/05/2021, 08:00:34
1          Akinul Islam Jony        Left  23/05/2021, 10:11:26
2          Akinul Islam Jony      Joined  23/05/2021, 10:11:46
3         MD. AL-EMRAN PARAG      Joined  23/05/2021, 08:00:50
4         MD. AL-EMRAN PARAG        Left  23/05/2021, 10:50:58
5         MD. AL-EMRAN PARAG      Joined  23/05/2021, 10:51:50
6   MD. ASIKUR RAHMAN SAUMIK      Joined  23/05/2021, 08:00:51
7            MD. ARMAN UDDIN      Joined  23/05/2021, 08:00:53
8      TAHMID SHAHRIAR ARNOB      Joined  23/05/2021, 08:00:54
9                ABDUL MAJID      Joined  23/05/2021, 08:00:56
10        MEHEDI HASAN NILOY      Joined  23/05/2021, 08:00:57
11                SAIF HAQUE      Joined  23/05/2021, 08:00:58
12                SAIF HAQUE        Left  23/05/2021, 08:10:58
13                SAIF HAQUE      Joined  23/05/2021, 08:11:07
14                SAIF HAQUE        Left  23/05/2021, 09:08:04
15                SAIF HAQUE      Joined  23/05/2021, 09:08:12
16  REHENUMA TABASSUM MEGHLA      Joined  23/05/2021, 08:00:58
17     MEHRAB HOSSAIN SHARAN      Joined  23/05/2021, 08:00:59
18     MEHRAB HOSSAIN SHARAN        Left  23/05/2021, 08:48:51
19     MEHRAB HOSSAIN SHARAN      Joined  23/05/2021, 08:52:33
20            SUMNOON-E-TAHA      Joined  23/05/2021, 08:01:07
21           MD MEHRAB SADIK      Joined  23/05/2021, 08:01:08
22           MD MEHRAB SADIK        Left  23/05/2021, 10:53:10
23           MD MEHRAB SADIK      Joined  23/05/2021, 10:53:10
24       MD. MAHFUZUR RAHMAN      Joined  23/05/2021, 08:01:15
25       KASIRA - TUT- TARFI      Joined  23/05/2021, 08:01:16
26            S. M. A. WASEI      Joined  23/05/2021, 08:01:22
27                BIJON SAHA      Joined  23/05/2021, 08:01:24
28  BHUIYAN SAAD BIN MOBARAK      Joined  23/05/2021, 08:01:27
29  BHUIYAN SAAD BIN MOBARAK        Left  23/05/2021, 10:19:54
30  BHUIYAN SAAD BIN MOBARAK      Joined  23/05/2021, 10:19:54
31              RAIHAN UDDIN      Joined  23/05/2021, 08:01:27
32          MUHAMMAD AL AMIN      Joined  23/05/2021, 08:01:37
33          MUHAMMAD AL AMIN        Left  23/05/2021, 10:23:12
34          MUHAMMAD AL AMIN      Joined  23/05/2021, 10:25:01
35        READOAN KHAN RATUL      Joined  23/05/2021, 08:01:40
36        READOAN KHAN RATUL        Left  23/05/2021, 09:56:42
37        READOAN KHAN RATUL      Joined  23/05/2021, 10:00:55
38        READOAN KHAN RATUL        Left  23/05/2021, 10:22:57
39        READOAN KHAN RATUL      Joined  23/05/2021, 10:24:18
40           HASIBUL HASSAIN      Joined  23/05/2021, 08:01:47
41           HASIBUL HASSAIN        Left  23/05/2021, 09:55:35
42           HASIBUL HASSAIN      Joined  23/05/2021, 09:55:44
43   ABDULLAH AL MAMUN SHUVO      Joined  23/05/2021, 08:01:50
44      SAFIQUL ISLAM SOIKAT      Joined  23/05/2021, 08:02:02
45      SAFIQUL ISLAM SOIKAT        Left  23/05/2021, 08:20:35
46      SAFIQUL ISLAM SOIKAT      Joined  23/05/2021, 08:46:37
47      SAFIQUL ISLAM SOIKAT        Left  23/05/2021, 08:52:07
48      SAFIQUL ISLAM SOIKAT      Joined  23/05/2021, 08:53:53
49     MD. IBNA JAHID HASSAN      Joined  23/05/2021, 08:02:02
50     MD. IBNA JAHID HASSAN        Left  23/05/2021, 09:06:31
51     MD. IBNA JAHID HASSAN      Joined  23/05/2021, 09:07:26
52     MD. IBNA JAHID HASSAN        Left  23/05/2021, 09:24:46
53     MD. IBNA JAHID HASSAN      Joined  23/05/2021, 09:29:17
54     MD. IBNA JAHID HASSAN        Left  23/05/2021, 09:31:30
55     MD. IBNA JAHID HASSAN      Joined  23/05/2021, 09:34:29
56     MD. IBNA JAHID HASSAN        Left  23/05/2021, 09:58:52
57     MD. IBNA JAHID HASSAN      Joined  23/05/2021, 10:00:15
58     MD. IBNA JAHID HASSAN        Left  23/05/2021, 10:08:52
59     MD. IBNA JAHID HASSAN      Joined  23/05/2021, 10:10:50
60     MD. IBNA JAHID HASSAN        Left  23/05/2021, 10:44:30
61     MD. IBNA JAHID HASSAN      Joined  23/05/2021, 10:47:06
62        MD. MAHMUDUL HASAN      Joined  23/05/2021, 08:02:07
63        MD. MAHMUDUL HASAN        Left  23/05/2021, 08:03:39
64        MD. MAHMUDUL HASAN      Joined  23/05/2021, 08:05:52
65             NURA YEASDANI      Joined  23/05/2021, 08:02:16
66             KHALID MASRUR      Joined  23/05/2021, 08:02:17
67            MOHIM BHOWMICK      Joined  23/05/2021, 08:02:18
68         FARDIN HASAN KHAN      Joined  23/05/2021, 08:02:45
69         FARDIN HASAN KHAN        Left  23/05/2021, 09:51:16
70         FARDIN HASAN KHAN      Joined  23/05/2021, 09:55:54
71    MOHAMMAED HASIB PRANTO      Joined  23/05/2021, 08:02:46
72         MD. IMRAN HOSSAIN      Joined  23/05/2021, 08:02:46
73         ISHRAK AHMED ASIF      Joined  23/05/2021, 08:03:22
74         ISHRAK AHMED ASIF        Left  23/05/2021, 08:17:58
75         ISHRAK AHMED ASIF      Joined  23/05/2021, 08:18:42
76        JAFRIN MONSUR KHAN      Joined  23/05/2021, 08:03:43
77      ASIF IQBAL BIN HARUN      Joined  23/05/2021, 08:05:20
78         MD. FARHAN TANVIR      Joined  23/05/2021, 08:05:46
79      TAMIM SULTANA ONKITA      Joined  23/05/2021, 08:06:26
80              LAMIA MANNAN      Joined  23/05/2021, 08:06:33
81              LAMIA MANNAN        Left  23/05/2021, 08:38:02
82              LAMIA MANNAN      Joined  23/05/2021, 08:39:28
83           MD. SAMIN ANJUM      Joined  23/05/2021, 08:06:36
84           MD. SAMIN ANJUM        Left  23/05/2021, 09:43:22
85           MD. SAMIN ANJUM      Joined  23/05/2021, 09:44:13
86            MD. RATUL AMAN      Joined  23/05/2021, 08:07:17
87              SAZZAD HASAN      Joined  23/05/2021, 08:07:46
88              SAZZAD HASAN        Left  23/05/2021, 09:20:55
89              SAZZAD HASAN      Joined  23/05/2021, 09:20:56
90              MOHAMMAD ALI      Joined  23/05/2021, 08:08:19
91   HIZBULLAH ATIK SIDDIQUE      Joined  23/05/2021, 09:13:44

In [5]:
df.drop_duplicates(subset ="Full Name",inplace = True)
df

                   Full Name User Action             Timestamp
0          Akinul Islam Jony      Joined  23/05/2021, 08:00:34
3         MD. AL-EMRAN PARAG      Joined  23/05/2021, 08:00:50
6   MD. ASIKUR RAHMAN SAUMIK      Joined  23/05/2021, 08:00:51
7            MD. ARMAN UDDIN      Joined  23/05/2021, 08:00:53
8      TAHMID SHAHRIAR ARNOB      Joined  23/05/2021, 08:00:54
9                ABDUL MAJID      Joined  23/05/2021, 08:00:56
10        MEHEDI HASAN NILOY      Joined  23/05/2021, 08:00:57
11                SAIF HAQUE      Joined  23/05/2021, 08:00:58
16  REHENUMA TABASSUM MEGHLA      Joined  23/05/2021, 08:00:58
17     MEHRAB HOSSAIN SHARAN      Joined  23/05/2021, 08:00:59
20            SUMNOON-E-TAHA      Joined  23/05/2021, 08:01:07
21           MD MEHRAB SADIK      Joined  23/05/2021, 08:01:08
24       MD. MAHFUZUR RAHMAN      Joined  23/05/2021, 08:01:15
25       KASIRA - TUT- TARFI      Joined  23/05/2021, 08:01:16
26            S. M. A. WASEI      Joined  23/05/2021, 08:01:22
27                BIJON SAHA      Joined  23/05/2021, 08:01:24
28  BHUIYAN SAAD BIN MOBARAK      Joined  23/05/2021, 08:01:27
31              RAIHAN UDDIN      Joined  23/05/2021, 08:01:27
32          MUHAMMAD AL AMIN      Joined  23/05/2021, 08:01:37
35        READOAN KHAN RATUL      Joined  23/05/2021, 08:01:40
40           HASIBUL HASSAIN      Joined  23/05/2021, 08:01:47
43   ABDULLAH AL MAMUN SHUVO      Joined  23/05/2021, 08:01:50
44      SAFIQUL ISLAM SOIKAT      Joined  23/05/2021, 08:02:02
49     MD. IBNA JAHID HASSAN      Joined  23/05/2021, 08:02:02
62        MD. MAHMUDUL HASAN      Joined  23/05/2021, 08:02:07
65             NURA YEASDANI      Joined  23/05/2021, 08:02:16
66             KHALID MASRUR      Joined  23/05/2021, 08:02:17
67            MOHIM BHOWMICK      Joined  23/05/2021, 08:02:18
68         FARDIN HASAN KHAN      Joined  23/05/2021, 08:02:45
71    MOHAMMAED HASIB PRANTO      Joined  23/05/2021, 08:02:46
72         MD. IMRAN HOSSAIN      Joined  23/05/2021, 08:02:46
73         ISHRAK AHMED ASIF      Joined  23/05/2021, 08:03:22
76        JAFRIN MONSUR KHAN      Joined  23/05/2021, 08:03:43
77      ASIF IQBAL BIN HARUN      Joined  23/05/2021, 08:05:20
78         MD. FARHAN TANVIR      Joined  23/05/2021, 08:05:46
79      TAMIM SULTANA ONKITA      Joined  23/05/2021, 08:06:26
80              LAMIA MANNAN      Joined  23/05/2021, 08:06:33
83           MD. SAMIN ANJUM      Joined  23/05/2021, 08:06:36
86            MD. RATUL AMAN      Joined  23/05/2021, 08:07:17
87              SAZZAD HASAN      Joined  23/05/2021, 08:07:46
90              MOHAMMAD ALI      Joined  23/05/2021, 08:08:19
91   HIZBULLAH ATIK SIDDIQUE      Joined  23/05/2021, 09:13:44

In [6]:
df = df.drop(df.index[0])
df

                   Full Name User Action             Timestamp
3         MD. AL-EMRAN PARAG      Joined  23/05/2021, 08:00:50
6   MD. ASIKUR RAHMAN SAUMIK      Joined  23/05/2021, 08:00:51
7            MD. ARMAN UDDIN      Joined  23/05/2021, 08:00:53
8      TAHMID SHAHRIAR ARNOB      Joined  23/05/2021, 08:00:54
9                ABDUL MAJID      Joined  23/05/2021, 08:00:56
10        MEHEDI HASAN NILOY      Joined  23/05/2021, 08:00:57
11                SAIF HAQUE      Joined  23/05/2021, 08:00:58
16  REHENUMA TABASSUM MEGHLA      Joined  23/05/2021, 08:00:58
17     MEHRAB HOSSAIN SHARAN      Joined  23/05/2021, 08:00:59
20            SUMNOON-E-TAHA      Joined  23/05/2021, 08:01:07
21           MD MEHRAB SADIK      Joined  23/05/2021, 08:01:08
24       MD. MAHFUZUR RAHMAN      Joined  23/05/2021, 08:01:15
25       KASIRA - TUT- TARFI      Joined  23/05/2021, 08:01:16
26            S. M. A. WASEI      Joined  23/05/2021, 08:01:22
27                BIJON SAHA      Joined  23/05/2021, 08:01:24
28  BHUIYAN SAAD BIN MOBARAK      Joined  23/05/2021, 08:01:27
31              RAIHAN UDDIN      Joined  23/05/2021, 08:01:27
32          MUHAMMAD AL AMIN      Joined  23/05/2021, 08:01:37
35        READOAN KHAN RATUL      Joined  23/05/2021, 08:01:40
40           HASIBUL HASSAIN      Joined  23/05/2021, 08:01:47
43   ABDULLAH AL MAMUN SHUVO      Joined  23/05/2021, 08:01:50
44      SAFIQUL ISLAM SOIKAT      Joined  23/05/2021, 08:02:02
49     MD. IBNA JAHID HASSAN      Joined  23/05/2021, 08:02:02
62        MD. MAHMUDUL HASAN      Joined  23/05/2021, 08:02:07
65             NURA YEASDANI      Joined  23/05/2021, 08:02:16
66             KHALID MASRUR      Joined  23/05/2021, 08:02:17
67            MOHIM BHOWMICK      Joined  23/05/2021, 08:02:18
68         FARDIN HASAN KHAN      Joined  23/05/2021, 08:02:45
71    MOHAMMAED HASIB PRANTO      Joined  23/05/2021, 08:02:46
72         MD. IMRAN HOSSAIN      Joined  23/05/2021, 08:02:46
73         ISHRAK AHMED ASIF      Joined  23/05/2021, 08:03:22
76        JAFRIN MONSUR KHAN      Joined  23/05/2021, 08:03:43
77      ASIF IQBAL BIN HARUN      Joined  23/05/2021, 08:05:20
78         MD. FARHAN TANVIR      Joined  23/05/2021, 08:05:46
79      TAMIM SULTANA ONKITA      Joined  23/05/2021, 08:06:26
80              LAMIA MANNAN      Joined  23/05/2021, 08:06:33
83           MD. SAMIN ANJUM      Joined  23/05/2021, 08:06:36
86            MD. RATUL AMAN      Joined  23/05/2021, 08:07:17
87              SAZZAD HASAN      Joined  23/05/2021, 08:07:46
90              MOHAMMAD ALI      Joined  23/05/2021, 08:08:19
91   HIZBULLAH ATIK SIDDIQUE      Joined  23/05/2021, 09:13:44

In [19]:
import  pandas  as pd
df1 = pd.read_csv ('./NameID/ProjectDocuments.csv')

In [7]:
mergeframes = [df1, df]

In [8]:
result = pd.concat(mergeframes)

In [29]:
result1=df1['Full Name'].str.split(",").apply(pd.Series).stack()

In [30]:
print(result1.to_string())

0   0                MASRUR
    1                KHALID
1   0                 PIYAS
    1         SANJADUL ALOM
2   0        SUMNOON-E-TAHA
3   0                 NILOY
    1          MEHEDI HASAN
4   0                  AMIN
    1           MUHAMMAD AL
5   0                 EHSAN
    1              KHAN MD.
6   0              SIDDIQUE
    1        HIZBULLAH ATIK
7   0                  KHAN
    1         JAFRIN MONSUR
8   0                TANVIR
    1            MD. FARHAN
9   0                 HASAN
    1                SAZZAD
10  0                SHARAN
    1        MEHRAB HOSSAIN
11  0                  AMAN
    1             MD. RATUL
12  0               HOSSAIN
    1             MD. IMRAN
13  0                SAUMIK
    1     MD. ASIKUR RAHMAN
14  0                 ANJUM
    1             MD. SAMIN
15  0              YEASDANI
    1                  NURA
16  0                MANNAN
    1                 LAMIA
17  0                 ARNOB
    1       TAHMID SHAHRIAR
18  0                  ASIF
    1          ISHRAK AHMED
19  0                   ALI
    1              MOHAMMAD
20  0               HASSAIN
    1               HASIBUL
21  0                 HARUN
    1        ASIF IQBAL BIN
22  0                 HAQUE
    1                  SAIF
23  0                 PARAG
    1          MD. AL-EMRAN
24  0                PRANTO
    1       MOHAMMAED HASIB
25  0                 RATUL
    1          READOAN KHAN
26  0                 SADIK
    1             MD MEHRAB
27  0                ONKITA
    1         TAMIM SULTANA
28  0                MEGHLA
    1     REHENUMA TABASSUM
29  0                 HASAN
    1          MD. MAHMUDUL
30  0                SOIKAT
    1         SAFIQUL ISLAM
31  0                 UDDIN
    1             MD. ARMAN
32  0                 MAJID
    1                 ABDUL
33  0                 WASEI
    1              S. M. A.
34  0               MOBARAK
    1      BHUIYAN SAAD BIN
35  0                 UDDIN
    1                RAIHAN
36  0                  KHAN
    1          FARDIN HASAN
37  0                HASSAN
    1        MD. IBNA JAHID
38  0              BHOWMICK
    1                 MOHIM
39  0                RAHMAN
    1          MD. MAHFUZUR
40  0                 SHUVO
    1     ABDULLAH AL MAMUN
41  0                  SAHA
    1                 BIJON
42  0                 TARFI
    1         KASIRA - TUT-

In [38]:
result3 = df1['Full Name'] 
df1[['last_name','first_name']] = result3.str.split(",", n=1, expand=True) 
df1

,SL,Student ID,Full Name,Ass.,last_name,first_name
0,1,17-34409-1,"MASRUR, KHALID",17,MASRUR,KHALID
1,2,17-34746-2,"PIYAS, SANJADUL ALOM",15,PIYAS,SANJADUL ALOM
2,3,17-35536-3,SUMNOON-E-TAHA,20,SUMNOON-E-TAHA,None
3,4,17-35672-3,"NILOY, MEHEDI HASAN",19,NILOY,MEHEDI HASAN
4,5,17-35677-3,"AMIN, MUHAMMAD AL",19,AMIN,MUHAMMAD AL
5,6,18-37027-1,"EHSAN, KHAN MD.",17,EHSAN,KHAN MD.
6,7,18-37051-1,"SIDDIQUE, HIZBULLAH ATIK",19,SIDDIQUE,HIZBULLAH ATIK
7,8,18-37144-1,"KHAN, JAFRIN MONSUR",17,KHAN,JAFRIN MONSUR
8,9,18-37827-2,"TANVIR, MD. FARHAN",19,TANVIR,MD. FARHAN
9,10,18-37912-2,"HASAN, SAZZAD",18,HASAN,SAZZAD
10,11,18-38923-3,"SHARAN, MEHRAB HOSSAIN",18,SHARAN,MEHRAB HOSSAIN
11,12,18-39130-3,"AMAN, MD. RATUL",20,AMAN,MD. RATUL
12,13,18-39243-3,"HOSSAIN, MD. IMRAN",20,HOSSAIN,MD. IMRAN
13,14,19-39342-1,"SAUMIK, MD. ASIKUR RAHMAN",20,SAUMIK,MD. ASIKUR RAHMAN
14,15,19-39434-1,"ANJUM, MD. SAMIN",19,ANJUM,MD. SAMIN
15,16,19-39458-1,"YEASDANI, NURA",20,YEASDANI,NURA
16,17,19-39573-1,"MANNAN, LAMIA",20,MANNAN,LAMIA
17,18,19-39674-1,"ARNOB, TAHMID SHAHRIAR",16,ARNOB,TAHMID SHAHRIAR
18,19,19-40055-1,"ASIF, ISHRAK AHMED",19,ASIF,ISHRAK AHMED
19,20,19-40186-1,"ALI, MOHAMMAD",19,ALI,MOHAMMAD
20,21,19-40194-1,"HASSAIN, HASIBUL",20,HASSAIN,HASIBUL
21,22,19-40223-1,"HARUN, ASIF IQBAL BIN",20,HARUN,ASIF IQBAL BIN
22,23,19-40255-1,"HAQUE, SAIF",18,HAQUE,SAIF
23,24,19-40296-1,"PARAG, MD. AL-EMRAN",18,PARAG,MD. AL-EMRAN
24,25,19-40359-1,"PRANTO, MOHAMMAED HASIB",20,PRANTO,MOHAMMAED HASIB
25,26,19-40544-1,"RATUL, READOAN KHAN",19,RATUL,READOAN KHAN
26,27,19-40677-1,"SADIK, MD MEHRAB",12,SADIK,MD MEHRAB
27,28,19-40683-1,"ONKITA, TAMIM SULTANA",18,ONKITA,TAMIM SULTANA
28,29,19-40703-1,"MEGHLA, REHENUMA TABASSUM",17,MEGHLA,REHENUMA TABASSUM
29,30,19-40751-1,"HASAN, MD. MAHMUDUL",18,HASAN,MD. MAHMUDUL
30,31,19-40804-2,"SOIKAT, SAFIQUL ISLAM",19,SOIKAT,SAFIQUL ISLAM
31,32,19-40836-2,"UDDIN, MD. ARMAN",19,UDDIN,MD. ARMAN
32,33,19-40877-2,"MAJID, ABDUL",20,MAJID,ABDUL
33,34,19-40948-2,"WASEI, S. M. A.",20,WASEI,S. M. A.
34,35,19-41059-2,"MOBARAK, BHUIYAN SAAD BIN",20,MOBARAK,BHUIYAN SAAD BIN
35,36,19-41258-3,"UDDIN, RAIHAN",20,UDDIN,RAIHAN
36,37,19-41275-3,"KHAN, FARDIN HASAN",20,KHAN,FARDIN HASAN
37,38,19-41284-3,"HASSAN, MD. IBNA JAHID",19,HASSAN,MD. IBNA JAHID
38,39,19-41341-3,"BHOWMICK, MOHIM",18,BHOWMICK,MOHIM
39,40,19-41348-3,"RAHMAN, MD. MAHFUZUR",20,RAHMAN,MD. MAHFUZUR
40,41,19-41450-3,"SHUVO, ABDULLAH AL MAMUN",19,SHUVO,ABDULLAH AL MAMUN
41,42,19-41479-3,"SAHA, BIJON",20,SAHA,BIJON
42,43,19-41516-3,"TARFI, KASIRA - TUT-",20,TARFI,KASIRA - TUT-

In [118]:
for i in df['Full Name']:
    for j in df1['last_name']:
        dtest=df['Full Name'].str.contains(j)
        dtest